<div id="topPattern"></div>
<div id="navigation">
  <div id="searchBox">
    <form id="search" class="noanimation" autocomplete="off" action="/search">
      <p class="hnlanswers"><a class="header" href="/">Honolulu Answers</a></p>
      <input type="text" id="query" name="q" />
      <input type="submit" class="btn" value="" />
    </form>
  </div>
</div>

<div class="article">

	<h1 class="list">Listing of All Articles</h1>

  <% @categories.each do |category| %>
  <div class="article-section">
      <h2>
        <a name="<%= category.name.parameterize %>"><%= category.name %></a>
      </h2>
      <% category.articles_by_access_count.each do |article| %>
				<ul>
          <% next unless article.is_published %>
					<%= content_tag( :li, link_to( article.title, article_path(article.slug) ) ) %>
				</ul>
			<% end -%>
		</div>
	<% end -%>
</div>
