<div id="topPattern"></div>
<div id="navigation">
  <div id="searchBox">
    <form id="search" class="noanimation" autocomplete="off" action="/search">
      <p class="hnlanswers"><a class="header" href="/">Honolulu Answers</a></p>
      <input type="text" id="query" name="q" />
      <input type="submit" class="btn" value="" />
    </form>
  </div>
</div>

<div class="article">

	<h1 class="list">Listing of All Articles</h1>

	<% @articles_hash.each do |category, articles| %>
		<div class="article-section">
			<h2>
				<a name="<%= category.parameterize %>"><%= category %></a>
			</h2>
			<% articles.each do |article| %>
				<ul>
					<%= content_tag( :li, link_to( article.title, article_path(article.id) ) ) %>
				</ul>
			<% end -%>
		</div>
	<% end -%>


</div>
