<%# Eventually going to be a 404-like page for non-existent articles %>

<div id="topDivPattern"></div>
<div id="bgTopDiv" class="headline">  
  <div id="searchContent" class="headline">
    <form id="searchForm" autocomplete="off">
    <p class="hnlanswers"><a class="header" href="/">Honolulu Answers</a></p>
      <input type="text" id="search" />
      <input type="submit" id="search_btn" value="" />
    </form>
  </div>
</div>

<div class="article">


	<h1 class="list">Sorry We Can't Find What You Are Looking For.</h1>

	<div class="article-section">
		<h2>We are working to aggregate as much info from the City of Honolulu as we can. Unfortunately it is an ongoing process and we don't yet have the article you are looking for.</h2>
		
		<ul>In the meantime we recommend that you:
			<li>Search the <a href"http://www.honolulu.gov/government/">honolulu.gov</a> site for more information.</li>
			<li>Check back in a few weeks!</li>
		</ul>
		
	</div>

</div>
