<div class="page-container article">
  <div class="breadcrumbs">
    <%= link_to( "Home", root_url) %>
    >
    (404) Page not found
  </div>
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <div class="header">
          Sorry, we can't find what you are looking for.
        </div>
        <div class="content-text">
          <p>We are working to aggregate as much info to answer your questions.</p>
          <h2>In the meantime we recommend:</h2>
          <ul>
            <li>Searching the <%= link_to ENV['SITE_NAME'], ENV['SITE_URL'] %> site for more information.</li>
            <li>Checking back in a few weeks!</li>
          </ul>
        </div><!-- /span9 -->

        <div class="span3">
          <%= render :partial => 'shared/categories_sidebar' %>
        </div><!-- /span3 -->
      </div>
    </div>
  </div>
</div>
