/* Honolulu Answers CSS - V2 */
/* Boostrap Scaffolding Included in asset pipeliene */

/* Font-Face Declarations */
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=News+Cycle);
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow);


/* CSS Reset - Eric Meyer */
html, body, div, span, ul, ol, li, form, fieldset, legend, label, h1, h2, h3, h4, h5, h6, p, a { 
  margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul, li { list-style: none; }

/* Removing outline border on active links (WCAG safe - active state links handled explicitly below) */
a:focus, a:active { 
  outline: 0;
  background-color: rgb(255,222,77);
  color: black;
}



/* Sticky Footer */
html, body, #wrapper { height:100%; }
body > #wrapper { height:auto; min-height: 100%; }
.container.main { padding-bottom: 50px; /* negative footer height for sticky footer */ }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }



/* Get Satisfaction tweaks */
a.gsfn-jqmClose {
  border-bottom: none;
}



/* General Styles */
/* -------------- */
body {
 background:transparent url("/assets/background_image.jpg") no-repeat 0 50%;
 background-attachment: fixed;
 font: 100%/1.5 "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}


/* Fonts */
/* ----- */
h2, h3, h4, h5, h6 { font: 100%/1.5 "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif; line-height: 100%; }

/* Alert close button styling, taken from Bootstrap */
.close {
float: right;
font-size: 20px;
font-weight: bold;
line-height: 20px;
color: #000000;
text-shadow: 0 1px 0 #ffffff;
opacity: 0.2;
filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
color: #000000;
text-decoration: none;
cursor: pointer;
opacity: 0.4;
filter: alpha(opacity=40);
}

button.close {
padding: 0;
cursor: pointer;
background: transparent;
border: 0;
-webkit-appearance: none;
}


h1 {
  font-family: "Archivo Narrow", "News Cycle", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif; line-height: 100%;
  font-size: 30px; 
}
h1.home-modal {
  font-size: 5.4em;
  font-weight: 580;
  letter-spacing: 0.04em;
  color: #303030;
  font-family: Oswald, "News Cycle", Helvetica, Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 35px 0 30px 0;
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1), -5px 2px 5px rgba(0, 0, 0, 0.05), -5px 2px 5px rgba(0, 0, 0, 0.05);
}
h2 {
  font-size: 18px;
}
h3.welcome {
  font-family: "Satisfy", cursive;
  color: #303030;
  font-size:36px;
  text-align: center;
  line-height: 100%;
  z-index: 100;
  margin-top: 15px;
  margin-bottom: 10px;
}
h3.content-type {
  padding: 10px 15px;
  color: #FFF;
  background-color: #000;
  display: inline-block;
  text-transform: uppercase;
  margin-left: -30px;
  margin-bottom: 15px;
  font-family: Oswald, "News Cycle", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.07em;
}

h4.side-head {
  font-family: Oswald, "News Cycle", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 18px;
  color: #FFF;
  background-color:#4580b4;
  padding: 10px 15px;
  margin: 0;
  letter-spacing: 0.075em;
}

h5 { }
h6 { }

p {
  /*font-size: 1.1em;*/
  color: #070707;
  font-weight: 300;
  margin: 10px 0;
}
p.preview {
  font-weight: 300;
  margin-bottom: 0px;
}

p a,h1 a,h2 a,h3 a,h4 a,li a{
  color: rgb(0,136,204);
  border-bottom: none;
}

p a:hover{
  color: rgb(0,136,204);
  border-bottom: 1px solid #ffde4d;
}

.breadcrumbs a{
  color: rgb(0,136,204);
  border-bottom: none;
}

table a{
  border-bottom: none;
}

a { 
  border-bottom: 1px solid #ffde4d;
}

.category p a{ 
  border-bottom: 1px solid #ffde4d;
}

a:hover{
  border-bottom: 1px solid #ffde4d;
  text-decoration: none;
  color: rgb(0,136,204);
}

a.hnl-logo {
  font-size: 20px;
  color: #FFFFFF;
  font-family: Oswald, "News Cycle", Helvetica, Tahoma, Arial, sans-serif;
  letter-spacing:0.08em;
  border-bottom: 7px solid #ffde4d;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 70%;
}

a.hnl-logo:hover {
  border-bottom: 10px solid #ffde4d;
}

.sidebar-content  {
  font-size: 14px;
}


/* Top Navbar */
/* ---------- */
div.navbar-top {
  width: 100%;
  background-color: #070707;
  height: 80px;
}
div.logo {
  display: inline-block;
  padding-top:35px;
}
img.beta {
  margin-top: -65px;
  margin-left: -10px;
  padding-top: 8px;
}
ul.nav-top {
  display: inline-block;
  padding-top: 35px;
}
.nav-top li {
  display: block;
  float: left;
}
.nav-top li a {
  color: #FFFFFF;
  font-weight: bold;
  float: none;
  font-size: 14px;
  margin: 9px 10px 2px;
  border-bottom: none;
}

.nav-top li a:hover {
  border-bottom: 1px solid #ffde4d;
}

.nav-top li a:active, .nav-top li a:focus{
  color: black;
}

div.header-search {
  padding-top: 35px;
}
.header-search form.right {
  float:right;
}
.header-search input:focus#query {
  background-color: #FFF;
  border: 1px solid #FFDE4D;
}
.header-search input#query {
  height: 30%;
  width: 70%;
  padding: 0;
  border: 1px solid #FFF;
  background-color: #EEE;
 
  width: 60%;
}
.header-search input.btn-search {
  font-size: 1em;
  padding: 4px 5px;
  margin: 0;
  -moz-border-radius:     2px;
  -webkit-border-radius:  2px;
  border-radius:          2px;
  margin-left: 5px;
}


/* Homepage Modal */
/* -------------- */
.container.main {
  margin-top: 50px;
  margin-bottom: 50px;
}
.modal-container {
  background-color: #fbfbfb;
  float: none;
  margin: 0 auto;
  padding: 40px 50px 50px 50px;
  border:1px solid #FFF;
  -moz-box-shadow:    0px 0px 20px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
  box-shadow:         0px 0px 20px 1px rgba(0, 0, 0, 0.4);
}

div.main-modal { }

div#welcome-line-l {
  position: relative;
  float: left;
  margin-top: 12px;
  z-index: 1;
  width: 35%;
  border: 1px solid #666768;
}

div#welcome-line-r {
  position: relative;
  float: right;
  margin-top: 12px;
  z-index: 50;
  width: 35%;
  border: 1px solid #666768;
}
 
div.pop-heading {
  border-bottom: 10px solid #ffde4d;
  margin: 0 0 20px 0;
}

div.pop-categories p a {
}

div.pop-categories li:not(:last-child):after {
  /*content: " - ";*/
}

div.pop-categories li+li:before {
  content: '- ';
}

div.pop-categories li {
  display: inline;
  font-size: 120%;
}


p.call {
  font-size: 20px; 
  margin-bottom: 20px;
  text-align: center;
}
.pop-heading h2 {
  font-size:20px;
  font-weight: bold;
  margin-bottom: 10px;
}
div.category {
  padding: 20px 0;
  border-bottom: 1px solid #cdcbcb;
}
div.category.last {
  border: none;
}
.category {
  font-size: 14px;
  color: #333;
}
.category .left {
  font-size: 20px;
  display: inline-block;
  margin-right: 60px;
}

div.category a{
  color: rgb(51, 51, 51);
}

div.category a:hover{
  color: rgb(69, 128, 180);
}

.category .right{
  font-size: 120%;
  /*word-spacing: 20px;*/
}


/* Homepage Modal -- Search Ribbon*/
/* ------------------------------ */
div.search-ribbon {}
.ribbon-wrapper {
  position: relative;
  width: 700px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}
.ribbon-front {
  position: relative;
  padding: 25px 70px;
  margin: 0 -78px 50px -78px;
  background-color: rgb(69, 128, 180);
  color: white;
  text-shadow: 0 1px 1px #155B88;
  box-shadow: 2px 1px 6px -3px rgba(0, 0, 0, 0.5), -2px 0px 5px -3px rgba(0, 0, 0, 0.5), 0px 5px 10px -4px rgba(0, 0, 0, 0.3);
}

.ribbon-front .triangle-l {
  border-color: transparent #4a7d95 transparent transparent;
  border-style:solid;
  border-width:34px;
  height:0;
  width:0;
  position: absolute;
  left: -34px;
  top: 83px;
  z-index: -1;
}

.ribbon-front .triangle-r {
  border-color: transparent transparent transparent #4a7d95;
  border-style:solid;
  border-width:34px;
  height:0;
  width:0;
  position: absolute;
  right: -34px;
  top: 83px;
  z-index: -1;
}


/* Search bar */
/* ---------- */

input#query {
  width: 70%;
  height: 40px;
  padding: 3px 5px;
  border: 1px solid #3198DA;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  background: white;
  outline: none;
  font: 100%/1.5 "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border-radius:          3px;
  -webkit-border-radius:  3px;
  -moz-border-radius:     3px;
}
.header-search input#query {
  width: 65%;
}
input:focus#query {
  outline: none; 
  box-shadow: 0px 0px 5px #ffde4d;
  border: 1px solid #303030;
}

input:hover#query { }

#query::-webkit-input-placeholder {
   color: #9c9c9c;
   font-style: italic;
}

#query:-moz-placeholder {
   color: #9c9c9c;
   font-style: italic;
}  

#query:-ms-placeholder {
   color: #9c9c9c;
   font-style: italic;
}


/* Search Button */
/* ------------- */
.btn-search {
  background-color:#F38200;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  color:#ffffff;
  font-family:Helvetica, Arial;
  font-size:1.3em;
  font-weight:bold;
  padding: 10px 12px;
  text-decoration:none;
  border: none;
  margin-left: 10px;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2); 
  -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2); 
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
}
.btn-search:hover,  {
   
   background-image: -webkit-linear-gradient(top,   rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)); 
   background-image: -moz-linear-gradient(top,      rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
   background-image: -o-linear-gradient(top,        rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)); 
   background-image: -ms-linear-gradient(top,       rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
   background-image: linear-gradient(top,           rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)); /*Shadow*/
}

.btn-search:active, .btn-search:focus {
  background-color: rgb(255,222,77);
  color: black;     
}


/* Footer */
/* ------ */
.footer {
  width: 100%;
  background-color: #070707;
  height: 50px;
  padding-top:15px;
  padding-bottom:15px;
  margin-top: -50px;
  clear: both;
}
ul.footer-links {
  display: inline-block;
  list-style: none;
}
ul.footer-links > li {
  display: block;
  float: left;
}
ul.footer-links > li > a {
  font-family: Helvetica, Arial;
  color: #FFFFFF;
  font-weight: bold;
  float: none;
  font-size: 14px;
  margin: 9px 10px 2px;
  border-bottom: none;
}

ul.footer-links li a:hover {
  border-bottom: 1px solid #ffde4d;
}

.cfa-logos {
  float: right;
  display: block;
  width: 425px;
}
.cfa-logos a, .cfa-logos a:hover {
  text-decoration: none;
  border: none;
}

.cfa-logos a:focus {
  outline: 1;
}

.cfa-logos img {
  height: 50px;
  margin: 0 10px;
}
.cfa-logos > span.plus {
  color: #FFF;
  font-size: 20px;
}



/* Search results page */
/* ------------------- */
.page-container {
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: repeat;
}
.page-container.search {
  padding-top:40px;
}

.main-content {
  background-color: #FFF;
  padding: 30px;
  opacity:1;
  margin-left: 20px;
  margin-bottom: 20px;
}
.main-content > .header {
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.header > h1 {
  padding-bottom: 10px;
  border-bottom: 6px solid #ffde4d;
}

.sidebar {
  height: 100%;
  margin-right: 20px;
}

.sidebar-unit {
    background-color: #FFF;
    margin-bottom: 20px;
}
li.article-listing, li.category-listing {
  border-bottom: 1px solid #DDD;
  padding: 20px 0px;
}
li:last-child.article-listing, li:last-child.category-listing {
  border-bottom: none;
}
.sidebar-content {
  padding: 10px 15px;
}
.sidebar ul li {
  padding: 10px 0;
}
.sidebar ul li:first-child {
  padding-top: 0;
}
li.category-article{
  padding:5px 0px;
}
.category-listing h1 {
  padding-bottom:5px;
}

li.article-listing a:hover{
  color: rgb(0,136,204);
  border-bottom: 1px solid #FFDE4D;
}

li.article-listing a{
  color: rgb(0,136,204);
}

li.article-listing p{
  color: #303030;
}

li.article-listing p:hover{
  color: #303030;
  border-bottom: none;
}

.suggestion {
  padding-top: 10px; 
}




/* Article#show page */
/* ----------------- */
div.breadcrumbs {
  height: 20px;
  margin-left: 20px;
  font-size: 90%;
  padding: 12px 0 8px 0;
  color: #777;
}
div.content-text {
  padding-top: 20px;
  font-weight: 300;
}
.article .content-text h2 {
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 150%;
}
.article .content-text h3 {
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;

}
.content-text p {
  color: rgb(51, 51, 51);
  margin-bottom: 12px;
}
.content-text ol, .content-text ul {
  margin: 15px 12px 0 12px;
  padding: 0 10px;
}
.content-text ol li, .content-text ul li{
  margin: 0 0 12px 30px;
  padding-left: 5px;
} 
.content-text ol li {  
  list-style-type: decimal;
}
.content-text ul li {
  list-style-type: disc;
}
div.quick_top{
  background: whitesmoke;
  padding: 20px;
}

/* TABLE */
table, th, td {
  padding: 5px;
}
table {
  width: 80%;
  margin: auto;
}
th {
  text-align: left;
  background-color: #ddd;
}
td {
  text-align: left;
  background-color: #ededed;
  margin: 1px;
}


/* Sidebar related articles */
.sidebar {
}
.sidebar a {
  color: #303030;
  border-bottom: 1px solid #FFDE4D;
}
.sidebar a:hover{
  color: #4580B4;
}
.sidebar-content h4 {
  margin-bottom: 20px;
}
.vtabs-tab-column {
  width: 160px;
  float: left;
}
.vtabs-content-column{
  width: 620px;
  padding-left: 10px;
}
.vtabs{
  display:block;
}
.vtabs-tab-column li.closed a{
  color: grey;
}
.vtabs-tab-column li.open a{
  color: #fff;
}
.vtabs-tab-column li.open a:after{
  content: "\2794";
  padding-left: 5px;
}
.vtabs-tab-column li.open{
  background-color: #f38200;
  /* height: 27px; */
  padding: 5px;
}
h2.vtab-content-header{
  border-bottom: 2px solid gray;
  font-size: 25px;
}

/* Twitter share */
h1 div#twitter_share {
  display: inline-block;
  float: right;
}

/*accessibility*/
a:focus, a:active { 
  color: black;
}

/* EXTERNAL LINKS */
a[href*="http"]:after {
  content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);    
}
div.footer a[href*="http"]:after { content: none; }
div.breadcrumbs a[href*="http"]:after { content: none; }
div.servicebox a[href*="http"]:after { content: none; }
div.about-page a.mugshot[href*="http"]:after { content: none; }

/* ABOUT PAGE */
.container{margin-left:auto;margin-right:auto;*zoom:1;}.container:before,.container:after{display:table;content:"";}
.container:after{clear:both;}
.container-fluid{padding-left:20px;padding-right:20px;*zoom:1;}.container-fluid:before,.container-fluid:after{display:table;content:"";}
.container-fluid:after{clear:both;}
.row{*zoom:1;}.row:before,.row:after{display:table;content:"";}
.row:after{clear:both;}
.row-fluid{width:100%;*zoom:1;}.row-fluid:before,.row-fluid:after{display:table;content:"";}
.row-fluid:after{clear:both;}
.row-fluid>[class*="span"]{float:left;margin-left:2.127659574%;}
.row-fluid>[class*="span"]:first-child{margin-left:0;}
.row-fluid > .span12{width:99.99999998999999%;}
.row-fluid > .span11{width:91.489361693%;}
.row-fluid > .span10{width:82.97872339599999%;}
.row-fluid > .span9{width:74.468085099%;}
.row-fluid > .span8{width:65.95744680199999%;}
.row-fluid > .span7{width:57.446808505%;}
.row-fluid > .span6{width:48.93617020799999%;}
.row-fluid > .span5{width:40.425531911%;}
.row-fluid > .span4{width:31.914893614%;}
.row-fluid > .span3{width:23.404255317%;}
.row-fluid > .span2{width:14.89361702%;}
.row-fluid > .span1{width:6.382978723%;}
.span12{width:940px;}
.row-fluid > .span12{width:99.99999998999999%;}
input.span12, textarea.span12, .uneditable-input.span12{width:930px;}
table .span12{float:none;width:924px;margin-left:0;}

.shoutout {
width: 90px;
height: 134px;
margin-right: 20px;
margin-bottom: 20px;
margin-top: 5px;
background-color: #EFEFEF;
border: 1px solid #DDD;
color: #666;
text-align: middle;
float: left;
}

.biopic {
width: 80px;
height: 80px;
margin: 5px 0 0 5px;
}

/*
h2 {
font-size: 175%;
font-weight: normal;
margin: 0.8em 0 -0.1em 0;
}
*/

.clearfix::before, .clearfix::after {
display: table;
content: "";
}

.shoutout em {
color: #666;
width: 90px;
display: table-cell;
vertical-align: middle;
font-size: 90%;
font-style: normal;
height: 52px;
vertical-align: middle;
line-height: 110%;
overflow: hidden;
text-align: center;
}

.comment {
font-family: "News Cycle", Helvetica;
font-weight: bold;
}

.title-spacing {
margin-top: 30px;
}

ul.about-list li {
	list-style-type: square;
	padding: 0px;
	margin-left: 40px;
	font-family: "News Cycle", Helvetica;
}

.about-list {
	font-family: "News Cycle", Helvetica;
	font-size: 80%;
}

.highlight {
	font-weight:bold;
}

/* attempt a callout style */
.vtabs .vtabs-content-column .vtabs-content-panel em strong {
    padding: 10px;
    background-color: #D5E8F3;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 14px;
	display: block;
	margin-bottom: 14px;
}

.vtabs .vtabs-content-column .vtabs-content-panel strong em {
    padding: 10px;
    background-color: #D5E8F3;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 14px;
	display: block;
	margin-bottom: 14px;
}
