<% @cats = categories_list %>
<div class="sidebar">
  <div class="sidebar-unit">
    <h4 class="side-head">Other Categories</h4>
    <div class="sidebar-content">
       <ul>
        <% Category.all_by_access_count.each do |c| %>
          <%= content_tag( :li, link_to(c.name, category_path(c.id))) %>
        <% end -%>
       </ul>
    </div>
  </div>
</div>
