<% @cats = categories_list %>
<div class="sidebar">
  <div class="sidebar-unit">
    <h4 class="side-head">Other Categories</h4>
    <div class="sidebar-content">
       <ul>
        <% categories_list.each do |category|%>
          <%= content_tag( :li, link_to( category.name, category_path(category.id) ) ) %>
         <% end %>
       </ul>
    </div>
  </div>
</div>