<div class="sidebar-unit">
  <h4 class="side-head">WAS THIS HELPFUL?<h4>
  <div class="sidebar-content">
    <span>
      West Michigan Green Guide is supported by user donations.
      Help us answer more questions.</span><br />
    <span>
      <a href="https://www.formstack.com/forms/?1314446-wSjFET4CfJ-v3" target=_blank>Donate Here!</a>
    </span>
  </div>
</div>
