<%# encoding: utf-8 %>

<!-- Allows the partial to be used for all form partials -->
<% @article = @web_service || @quick_answer || @guide %>


<% @button_name = @article.class.to_s.split(/(?=[A-Z])/).join('_').downcase %>

<style type="text/css">
/* Honolulu Answers CSS - V2 */
/* Boostrap Scaffolding Included in asset pipeliene */

/* Font-Face Declarations */
@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(https://github.com/theleagueof/league-gothic/blob/master/LeagueGothic-Regular.otf?raw=true);
@import url(http://fonts.googleapis.com/css?family=News+Cycle);
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);

/* Removing outline border on active links (WCAG safe - active state links handled explicitly below) */
.article a:focus, .article a:active { 
  outline: 0;
  background-color: rgb(255,222,77);
  color: black;
}

.article .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.article .clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.article .clearfix { display: block; }
.article {
 font: 100%/1.5 "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}
.article h2, .article h3, .article h4, .article h5, .article h6 { font: 100%/1.5 "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif; line-height: 100%; }
.article h1 {
  font-family: "Archivo Narrow", "News Cycle", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif; line-height: 100%;
  font-size: 30px; 
}
.article h2 {
  font-size: 18px;
}
.article h3.content-type {
  padding: 10px 15px;
  color: #FFF;
  background-color: #000;
  display: inline-block;
  text-transform: uppercase;
  margin-left: -30px;
  margin-bottom: 15px;
  font-family: Oswald, "News Cycle", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.07em;
}
.article p {
  /*font-size: 1.1em;*/
  color: #070707;
  font-weight: 300;
  margin: 10px 0;
}
.article p.preview {
  font-weight: 300;
  margin-bottom: 0px;
}

.article p a, .article h1 a, .article h2 a, .article h3 a, .article h4 a, .article li a{
  color: rgb(0,136,204);
  border-bottom: none;
}

.article p a:hover{
  color: rgb(0,136,204);
  border-bottom: 1px solid #ffde4d;
}

.article table a{
  border-bottom: none;
}

.article a { 
  border-bottom: 1px solid #ffde4d;
}

.article a:hover{
  border-bottom: 1px solid #ffde4d;
  text-decoration: none;
  color: rgb(0,136,204);
}
.article p.call {
  font-size: 20px; 
  margin-bottom: 20px;
  text-align: center;
}
.article .pop-heading h2 {
  font-size:20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.article div.content-text {
  padding-top: 20px;
  font-weight: 300;
}
.article .content-text h2 {
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 150%;
}
.article .content-text h3 {
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;

}
.article .content-text p {
  color: rgb(51, 51, 51);
  margin-bottom: 12px;
}
.article .content-text ol, .content-text ul {
  margin: 0 12px;
  padding: 0 10px;
}
.article .content-text ol li, .content-text ul li{
  margin: 0 0 12px 30px;
  padding-left: 5px;
} 
.article ul li {
  list-style-type: disc;
}
.article ol li {  
  list-style-type: decimal;
}
.article ul ol > li {  
  list-style-type: decimal;
}
.article ol ul > li {
  list-style-type: disc;
}
.article div.quick_top{
  background: whitesmoke;
  padding: 20px;
}

/* TABLE */
.article table, .article th, .article td {
  padding: 5px;
}
.article table {
  width: 80%;
  margin: auto;
}
.article th {
  text-align: left;
  background-color: #f8f8f8;
}
.article td {
  text-align: left;
  background-color: #ededed;
  margin: 1px;
}

/*accessibility*/
.article a:focus, .article a:active { 
  color: black;
}

.article .highlight {
	font-weight:bold;
}

.article > ol li, .article > ul li{
    margin: 2px 44px;
}

.article blockquote{
  font-style: normal;
}

.article th{
  background-color: #f8f8f8;
}
</style>

<script type="text/javascript">
$(document).ready(function() {


(function(){function identity(x){return x;}
function returnFalse(x){return false;}
function HookCollection(){}
HookCollection.prototype={chain:function(hookname,func){var original=this[hookname];if(!original)
throw new Error("unknown hook "+hookname);if(original===identity)
this[hookname]=func;else
this[hookname]=function(x){return func(original(x));}},set:function(hookname,func){if(!this[hookname])
throw new Error("unknown hook "+hookname);this[hookname]=func;},addNoop:function(hookname){this[hookname]=identity;},addFalse:function(hookname){this[hookname]=returnFalse;}};Markdown.HookCollection=HookCollection;function SaveHash(){}
SaveHash.prototype={set:function(key,value){this["s_"+key]=value;},get:function(key){return this["s_"+key];}};Markdown.Converter=function(){var pluginHooks=this.hooks=new HookCollection();pluginHooks.addNoop("plainLinkText");pluginHooks.addNoop("preConversion");pluginHooks.addNoop("postConversion");var g_urls;var g_titles;var g_html_blocks;var g_list_level;this.makeHtml=function(text){if(g_urls)
throw new Error("Recursive call to converter.makeHtml");g_urls=new SaveHash();g_titles=new SaveHash();g_html_blocks=[];g_list_level=0;text=pluginHooks.preConversion(text);text=text.replace(/~/g,"~T");text=text.replace(/\$/g,"~D");text=text.replace(/\r\n/g,"\n");text=text.replace(/\r/g,"\n");text="\n\n"+text+"\n\n";text=_Detab(text);text=_Tables(text);text=text.replace(/^[ \t]+$/mg,"");text=_HashHTMLBlocks(text);text=_StripLinkDefinitions(text);text=_DoCodeSpansGollum(text);text=_RunBlockGamut(text);text=_UnescapeSpecialChars(text);text=text.replace(/~D/g,"$$");text=text.replace(/~T/g,"~");text=pluginHooks.postConversion(text);g_html_blocks=g_titles=g_urls=null;return text;};function _StripLinkDefinitions(text){text=text.replace(/^[ ]{0,3}\[(.+)\]:[ \t]*\n?[ \t]*<?(\S+?)>?(?=\s|$)[ \t]*\n?[ \t]*((\n*)["(](.+?)[")][ \t]*)?(?:\n+)/gm,function(wholeMatch,m1,m2,m3,m4,m5){m1=m1.toLowerCase();g_urls.set(m1,_EncodeAmpsAndAngles(m2));if(m4){return m3;}else if(m5){g_titles.set(m1,m5.replace(/"/g,"&quot;"));}
return"";});return text;}
function _HashHTMLBlocks(text){var block_tags_a="p|div|h[1-6]|blockquote|pre|table|dl|ol|ul|script|noscript|form|fieldset|iframe|math|ins|del"
var block_tags_b="p|div|h[1-6]|blockquote|pre|table|dl|ol|ul|script|noscript|form|fieldset|iframe|math"
text=text.replace(/^(<(p|div|h[1-6]|blockquote|pre|table|dl|ol|ul|script|noscript|form|fieldset|iframe|math|ins|del)\b[^\r]*?\n<\/\2>[ \t]*(?=\n+))/gm,hashElement);text=text.replace(/^(<(p|div|h[1-6]|blockquote|pre|table|dl|ol|ul|script|noscript|form|fieldset|iframe|math)\b[^\r]*?.*<\/\2>[ \t]*(?=\n+)\n)/gm,hashElement);text=text.replace(/\n[ ]{0,3}((<(hr)\b([^<>])*?\/?>)[ \t]*(?=\n{2,}))/g,hashElement);text=text.replace(/\n\n[ ]{0,3}(<!(--(?:|(?:[^>-]|-[^>])(?:[^-]|-[^-])*)--)>[ \t]*(?=\n{2,}))/g,hashElement);text=text.replace(/(?:\n\n)([ ]{0,3}(?:<([?%])[^\r]*?\2>)[ \t]*(?=\n{2,}))/g,hashElement);return text;}
function hashElement(wholeMatch,m1){var blockText=m1;blockText=blockText.replace(/^\n+/,"");blockText=blockText.replace(/\n+$/g,"");blockText="\n\n~K"+(g_html_blocks.push(blockText)-1)+"K\n\n";return blockText;}
function _RunBlockGamut(text,doNotUnhash){text=_DoHeaders(text);var replacement="<hr />\n";text=text.replace(/^[ ]{0,2}([ ]?\*[ ]?){3,}[ \t]*$/gm,replacement);text=text.replace(/^[ ]{0,2}([ ]?-[ ]?){3,}[ \t]*$/gm,replacement);text=text.replace(/^[ ]{0,2}([ ]?_[ ]?){3,}[ \t]*$/gm,replacement);text=_DoLists(text);text=_DoCodeBlocks(text);text=_DoBlockQuotes(text);text=_HashHTMLBlocks(text);text=_FormParagraphs(text,doNotUnhash);return text;}
function _RunSpanGamut(text){text=_DoCodeSpans(text);text=_EscapeSpecialCharsWithinTagAttributes(text);text=_EncodeBackslashEscapes(text);text=_DoImages(text);text=_DoAnchors(text);text=_DoAutoLinks(text);text=text.replace(/~P/g,"://");text=_EncodeAmpsAndAngles(text);text=_DoItalicsAndBold(text);text=text.replace(/  +\n/g," <br>\n");return text;}
function _doTable_leadingPipe_callback(str,head,underline,content){content=content.replace(/^ *[|]/mg,'');return _DoTable_callback(str,head,underline,content);}
function _DoTable_callback(str,head,underline,content){head=head.replace(/[|] *$/mg,'');underline=underline.replace(/[|] *$/mg,'');content=content.replace(/[|] *$/mg,'');var separators=underline.split(/ *[|] */);var separatorsLength=separators.length;var attr=[];for(var i=0;i<separatorsLength;i++){if(separators[i].match(/^ *-+: *$/)){attr[i]=' align="right"';}else if(separators[i].match(/^ *:-+: *$/)){attr[i]=' align="center"';}else if(separators[i].match(/^ *:-+ *$/)){attr[i]=' align="left"';}else{attr[i]='';}}
head=_RunSpanGamut(head);var headers=head.split(/ *[|] */);var col_count=headers.length;var text="<table>\n";text+="<thead>\n";text+="<tr>\n";for(var i=0;i<col_count;i++){text+="  <th"+attr[i]+">"+_RunSpanGamut(headers[i].trim())+"</th>\n";}
text+="</tr>\n";text+="</thead>\n";var rows=content.trim().split("\n");text+="<tbody>\n";for(var i=0;i<rows.length;i++){var row=_RunSpanGamut(rows[i]);var row_cells=row.split(/ *[|] */);var row_cells_count=row_cells.length;while(row_cells_count<col_count){row_cells[row_cells_count++-1]='';}
text+="<tr>\n";for(var a=0;a<row_cells.length;a++){text+="  <td"+attr[i]+">"+_RunSpanGamut(row_cells[a].trim())+"</td>\n";}
text+="</tr>\n";}
text+="</tbody>\n";text+="</table>";return hashBlock(text)+"\n";}
function _Tables(text){var rgx_leading_pipe=/^[ ]{0,3}[|]([\S\s]+)\n[ ]{0,3}[|]([ ]*[-:]+[-| :]*)\n((?:(?=([ ]*[|][\S\s]*\n))\4)*)(?=\n|(?![\s\S]))/mg
text=text.replace(rgx_leading_pipe,_doTable_leadingPipe_callback);var rgx_no_leading_pipe=/^[ ]{0,3}(\S[\S\s]*[|][\S\s]*)\n[ ]{0,3}([-:]+[ ]*[|][-| :]*)\n((?:(?=([\S\s]*[|][\S\s]*\n))\4)*)(?=\n|(?![\s\S]))/mg
text=text.replace(rgx_no_leading_pipe,_DoTable_callback);return text;}
function _EscapeSpecialCharsWithinTagAttributes(text){var regex=/(<[a-z\/!$]("[^"]*"|'[^']*'|[^'">])*>|<!(--(?:|(?:[^>-]|-[^>])(?:[^-]|-[^-])*)--)>)/gi;text=text.replace(regex,function(wholeMatch){var tag=wholeMatch.replace(/(.)<\/?code>(?=.)/g,"$1`");tag=escapeCharacters(tag,wholeMatch.charAt(1)=="!"?"\\`*_/":"\\`*_");return tag;});return text;}
function _DoAnchors(text){text=text.replace(/(\[((?:\[[^\]]*\]|[^\[\]])*)\][ ]?(?:\n[ ]*)?\[(.*?)\])()()()()/g,writeAnchorTag);text=text.replace(/(\[((?:\[[^\]]*\]|[^\[\]])*)\]\([ \t]*()<?((?:\([^)]*\)|[^()\s])*?)>?[ \t]*((['"])(.*?)\6[ \t]*)?\))/g,writeAnchorTag);text=text.replace(/(\[([^\[\]]+)\])()()()()()/g,writeAnchorTag);return text;}
function writeAnchorTag(wholeMatch,m1,m2,m3,m4,m5,m6,m7){if(m7==undefined)m7="";var whole_match=m1;var link_text=m2.replace(/:\/\//g,"~P");var link_id=m3.toLowerCase();var url=m4;var title=m7;if(url==""){if(link_id==""){link_id=link_text.toLowerCase().replace(/ ?\n/g," ");}
url="#"+link_id;if(g_urls.get(link_id)!=undefined){url=g_urls.get(link_id);if(g_titles.get(link_id)!=undefined){title=g_titles.get(link_id);}}
else{if(whole_match.search(/\(\s*\)$/m)>-1){url="";}else{return whole_match;}}}
url=encodeProblemUrlChars(url);url=escapeCharacters(url,"*_");var result="<a href=\""+url+"\"";if(title!=""){title=attributeEncode(title);title=escapeCharacters(title,"*_");result+=" title=\""+title+"\"";}
result+=">"+link_text+"</a>";return result;}
function _DoImages(text){text=text.replace(/(!\[(.*?)\][ ]?(?:\n[ ]*)?\[(.*?)\])()()()()/g,writeImageTag);text=text.replace(/(!\[(.*?)\]\s?\([ \t]*()<?(\S+?)>?[ \t]*((['"])(.*?)\6[ \t]*)?\))/g,writeImageTag);return text;}
function attributeEncode(text){return text.replace(/>/g,"&gt;").replace(/</g,"&lt;").replace(/"/g,"&quot;");}
function writeImageTag(wholeMatch,m1,m2,m3,m4,m5,m6,m7){var whole_match=m1;var alt_text=m2;var link_id=m3.toLowerCase();var url=m4;var title=m7;if(!title)title="";if(url==""){if(link_id==""){link_id=alt_text.toLowerCase().replace(/ ?\n/g," ");}
url="#"+link_id;if(g_urls.get(link_id)!=undefined){url=g_urls.get(link_id);if(g_titles.get(link_id)!=undefined){title=g_titles.get(link_id);}}
else{return whole_match;}}
alt_text=escapeCharacters(attributeEncode(alt_text),"*_[]()");url=escapeCharacters(url,"*_");var result="<img src=\""+url+"\" alt=\""+alt_text+"\"";title=attributeEncode(title);title=escapeCharacters(title,"*_");result+=" title=\""+title+"\"";result+=" />";return result;}
function _DoHeaders(text){text=text.replace(/^(.+)[ \t]*\n=+[ \t]*\n+/gm,function(wholeMatch,m1){return"<h1>"+_RunSpanGamut(m1)+"</h1>\n\n";});text=text.replace(/^(.+)[ \t]*\n-+[ \t]*\n+/gm,function(matchFound,m1){return"<h2>"+_RunSpanGamut(m1)+"</h2>\n\n";});text=text.replace(/^(\#{1,6})[ \t]*(.+?)[ \t]*\#*\n+/gm,function(wholeMatch,m1,m2){var h_level=m1.length;return"<h"+h_level+">"+_RunSpanGamut(m2)+"</h"+h_level+">\n\n";});return text;}
function _DoLists(text){text+="~0";var whole_list=/^(([ ]{0,3}([*+-]|\d+[.])[ \t]+)[^\r]+?(~0|\n{2,}(?=\S)(?![ \t]*(?:[*+-]|\d+[.])[ \t]+)))/gm;if(g_list_level){text=text.replace(whole_list,function(wholeMatch,m1,m2){var list=m1;var list_type=(m2.search(/[*+-]/g)>-1)?"ul":"ol";var result=_ProcessListItems(list,list_type);result=result.replace(/\s+$/,"");result="<"+list_type+">"+result+"</"+list_type+">\n";return result;});}else{whole_list=/(\n\n|^\n?)(([ ]{0,3}([*+-]|\d+[.])[ \t]+)[^\r]+?(~0|\n{2,}(?=\S)(?![ \t]*(?:[*+-]|\d+[.])[ \t]+)))/g;text=text.replace(whole_list,function(wholeMatch,m1,m2,m3){var runup=m1;var list=m2;var list_type=(m3.search(/[*+-]/g)>-1)?"ul":"ol";var result=_ProcessListItems(list,list_type);result=runup+"<"+list_type+">\n"+result+"</"+list_type+">\n";return result;});}
text=text.replace(/~0/,"");return text;}
var _listItemMarkers={ol:"\\d+[.]",ul:"[*+-]"};function _ProcessListItems(list_str,list_type){g_list_level++;list_str=list_str.replace(/\n{2,}$/,"\n");list_str+="~0";var marker=_listItemMarkers[list_type];var re=new RegExp("(^[ \\t]*)("+marker+")[ \\t]+([^\\r]+?(\\n+))(?=(~0|\\1("+marker+")[ \\t]+))","gm");var last_item_had_a_double_newline=false;list_str=list_str.replace(re,function(wholeMatch,m1,m2,m3){var item=m3;var leading_space=m1;var ends_with_double_newline=/\n\n$/.test(item);var contains_double_newline=ends_with_double_newline||item.search(/\n{2,}/)>-1;if(contains_double_newline||last_item_had_a_double_newline){item=_RunBlockGamut(_Outdent(item),true);}
else{item=_DoLists(_Outdent(item));item=item.replace(/\n$/,"");item=_RunSpanGamut(item);}
last_item_had_a_double_newline=ends_with_double_newline;return"<li>"+item+"</li>\n";});list_str=list_str.replace(/~0/g,"");g_list_level--;return list_str;}
function _DoCodeBlocks(text){text+="~0";text=text.replace(/(?:\n\n|^)((?:(?:[ ]{4}|\t).*\n+)+)(\n*[ ]{0,3}[^ \t\n]|(?=~0))/g,function(wholeMatch,m1,m2){var codeblock=m1;var nextChar=m2;codeblock=_EncodeCode(_Outdent(codeblock));codeblock=_Detab(codeblock);codeblock=codeblock.replace(/^\n+/g,"");codeblock=codeblock.replace(/\n+$/g,"");codeblock="<pre><code>"+codeblock+"\n</code></pre>";return"\n\n"+codeblock+"\n\n"+nextChar;});text=text.replace(/~0/,"");return text;}
function hashBlock(text){text=text.replace(/(^\n+|\n+$)/g,"");return"\n\n~K"+(g_html_blocks.push(text)-1)+"K\n\n";}
function _DoCodeSpans(text){text=text.replace(/(^|[^\\])(`+)([^\r]*?[^`])\2(?!`)/gm,function(wholeMatch,m1,m2,m3,m4){var c=m3;c=c.replace(/^([ \t]*)/g,"");c=c.replace(/[ \t]*$/g,"");c=_EncodeCode(c);c=c.replace(/:\/\//g,"~P");return m1+"<code>"+c+"</code>";});return text;}
function _DoCodeSpansGollum(text){text=text.replace(/(^|[^\\])(`{3})([^\r]*?[^`])\2(?!`)/gm,function(wholeMatch,m1,m2,m3,m4){var c=m3;c=c.replace(/^([ \t]*)/g,"");c=c.replace(/[ \t]*$/g,"");c=_EncodeCode(c);c=c.replace(/:\/\//gm,"~P");return m1+hashBlock("<pre>`"+c+"</pre>");});return text;}
function _EncodeCode(text){text=text.replace(/&/g,"&amp;");text=text.replace(/</g,"&lt;");text=text.replace(/>/g,"&gt;");text=escapeCharacters(text,"\*_{}[]\\",false);return text;}
function _DoItalicsAndBold(text){text=text.replace(/([\W_]|^)(\*\*|__)(?=\S)([^\r]*?\S[\*_]*)\2([\W_]|$)/g,"$1<strong>$3</strong>$4");text=text.replace(/([\W_]|^)(\*|_)(?=\S)([^\r\*_]*?\S)\2([\W_]|$)/g,"$1<em>$3</em>$4");return text;}
function _DoBlockQuotes(text){text=text.replace(/((^[ \t]*>[ \t]?.+\n(.+\n)*\n*)+)/gm,function(wholeMatch,m1){var bq=m1;bq=bq.replace(/^[ \t]*>[ \t]?/gm,"~0");bq=bq.replace(/~0/g,"");bq=bq.replace(/^[ \t]+$/gm,"");bq=_RunBlockGamut(bq);bq=bq.replace(/(^|\n)/g,"$1  ");bq=bq.replace(/(\s*<pre>[^\r]+?<\/pre>)/gm,function(wholeMatch,m1){var pre=m1;pre=pre.replace(/^  /mg,"~0");pre=pre.replace(/~0/g,"");return pre;});return hashBlock("<blockquote>\n"+bq+"\n</blockquote>");});return text;}
function _FormParagraphs(text,doNotUnhash){text=text.replace(/^\n+/g,"");text=text.replace(/\n+$/g,"");var grafs=text.split(/\n{2,}/g);var grafsOut=[];var markerRe=/~K(\d+)K/;var end=grafs.length;for(var i=0;i<end;i++){var str=grafs[i];if(markerRe.test(str)){grafsOut.push(str);}
else if(/\S/.test(str)){str=_RunSpanGamut(str);str=str.replace(/^([ \t]*)/g,"<p>");str+="</p>"
grafsOut.push(str);}}
if(!doNotUnhash){end=grafsOut.length;for(var i=0;i<end;i++){var foundAny=true;while(foundAny){foundAny=false;grafsOut[i]=grafsOut[i].replace(/~K(\d+)K/g,function(wholeMatch,id){foundAny=true;return g_html_blocks[id];});}}}
return grafsOut.join("\n\n");}
function _EncodeAmpsAndAngles(text){text=text.replace(/&(?!#?[xX]?(?:[0-9a-fA-F]+|\w+);)/g,"&amp;");text=text.replace(/<(?![a-z\/?\$!])/gi,"&lt;");return text;}
function _EncodeBackslashEscapes(text){text=text.replace(/\\(\\)/g,escapeCharacters_callback);text=text.replace(/\\([`*_{}\[\]()>#+-.!])/g,escapeCharacters_callback);return text;}
function _DoAutoLinks(text){text=text.replace(/(^|\s)(https?|ftp)(:\/\/[-A-Z0-9+&@#\/%?=~_|\[\]\(\)!:,\.;]*[-A-Z0-9+&@#\/%=~_|\[\]])($|\W)/gi,"$1<$2$3>$4");var replacer=function(wholematch,m1){return"<a href=\""+m1+"\">"+pluginHooks.plainLinkText(m1)+"</a>";}
text=text.replace(/<((https?|ftp):[^'">\s]+)>/gi,replacer);return text;}
function _UnescapeSpecialChars(text){text=text.replace(/~E(\d+)E/g,function(wholeMatch,m1){var charCodeToReplace=parseInt(m1);return String.fromCharCode(charCodeToReplace);});return text;}
function _Outdent(text){text=text.replace(/^(\t|[ ]{1,4})/gm,"~0");text=text.replace(/~0/g,"")
return text;}
function _Detab(text){if(!/\t/.test(text))
return text;var spaces=["    ","   ","  "," "],skew=0,v;return text.replace(/[\n\t]/g,function(match,offset){if(match==="\n"){skew=offset+1;return match;}
v=(offset-skew)%4;skew=offset+1;return spaces[v];});}
var _problemUrlChars=/(?:["'*()[\]:]|~D)/g;function encodeProblemUrlChars(url){if(!url)
return"";var len=url.length;return url.replace(_problemUrlChars,function(match,offset){if(match=="~D")
return"%24";if(match==":"){if(offset==len-1||/[0-9\/]/.test(url.charAt(offset+1)) || url.indexOf("mailto") > -1)
return":"}
return"%"+match.charCodeAt(0).toString(16);});}
function escapeCharacters(text,charsToEscape,afterBackslash){var regexString="(["+charsToEscape.replace(/([\[\]\\])/g,"\\$1")+"])";if(afterBackslash){regexString="\\\\"+regexString;}
var regex=new RegExp(regexString,"g");text=text.replace(regex,escapeCharacters_callback);return text;}
function escapeCharacters_callback(wholeMatch,m1){var charCodeToEscape=m1.charCodeAt(0);return"~E"+charCodeToEscape+"E";}};})();(function(){var output,Converter;if(typeof exports==="object"&&typeof require==="function"){output=exports;Converter=require("./Markdown.Converter").Converter;}else{output=window.Markdown;Converter=output.Converter;}
output.getSanitizingConverter=function(){var converter=new Converter();converter.hooks.chain("postConversion",sanitizeHtml);converter.hooks.chain("postConversion",balanceTags);return converter;}
function sanitizeHtml(html){return html.replace(/<[^>]*>?/gi,sanitizeTag);}
var basic_tag_whitelist=/^(<\/?(table|thead|tr|th|tbody|td|b|blockquote|code|del|dd|dl|dt|em|h1|h2|h3|h4|h5|h6|i|kbd|li|ol|p|pre|s|sup|sub|strong|strike|ul)>|<(br|hr)\s?\/?>)$/i;var a_white=/^(<a\shref="(((https?|ftp):\/\/|\/))?[-A-Za-z0-9+&@#\/%?=~_|!:,.;\(\)]+"(\stitle="[^"<>]+")?\s?>|<\/a>)$/i;var img_white=/^(<img\ssrc="(https?:\/\/|\/)[-A-Za-z0-9+&@#\/%?=~_|!:,.;\(\)]+"(\swidth="\d{1,3}")?(\sheight="\d{1,3}")?(\salt="[^"<>]*")?(\stitle="[^"<>]*")?\s?\/?>)$/i;function sanitizeTag(tag){if(tag.match(basic_tag_whitelist)||tag.match(a_white)||tag.match(img_white))
return tag;else
return"";}
function balanceTags(html){if(html=="")
return"";var re=/<\/?\w+[^>]*(\s|$|>)/g;var tags=html.toLowerCase().match(re);var tagcount=(tags||[]).length;if(tagcount==0)
return html;var tagname,tag;var ignoredtags="<p><img><br><li><hr>";var match;var tagpaired=[];var tagremove=[];var needsRemoval=false;for(var ctag=0;ctag<tagcount;ctag++){tagname=tags[ctag].replace(/<\/?(\w+).*/,"$1");if(tagpaired[ctag]||ignoredtags.search("<"+tagname+">")>-1)
continue;tag=tags[ctag];match=-1;if(!/^<\//.test(tag)){for(var ntag=ctag+1;ntag<tagcount;ntag++){if(!tagpaired[ntag]&&tags[ntag]=="</"+tagname+">"){match=ntag;break;}}}
if(match==-1)
needsRemoval=tagremove[ctag]=true;else
tagpaired[match]=true;}
if(!needsRemoval)
return html;var ctag=0;html=html.replace(re,function(match){var res=tagremove[ctag]?"":match;ctag++;return res;});return html;}})();var is={ie:navigator.appName=='Microsoft Internet Explorer',java:navigator.javaEnabled(),ns:navigator.appName=='Netscape',ua:navigator.userAgent.toLowerCase(),version:parseFloat(navigator.appVersion.substr(21))||parseFloat(navigator.appVersion),win:navigator.platform=='Win32'}
is.mac=is.ua.indexOf('mac')>=0;if(is.ua.indexOf('opera')>=0){is.ie=is.ns=false;is.opera=true;}
if(is.ua.indexOf('gecko')>=0){is.ie=is.ns=false;is.gecko=true;}

  // instantiate pagedown 
  var converter_content_main         = new Markdown.getSanitizingConverter();
  var converter_content_main_extra   = new Markdown.getSanitizingConverter();
  var converter_content_need_to_know = new Markdown.getSanitizingConverter();
  
try{
  var editor_content_main = new Markdown.Editor(
  converter_content_main, "-content_main");
  editor_content_main.run();    
}
catch(e){}

try{
  var editor_content_main_extra = new Markdown.Editor(
    converter_content_main_extra, "-content_main_extra");
  editor_content_main_extra.run();
}
catch(e){}

try{    
  var editor_content_need_to_know = new Markdown.Editor(
    converter_content_need_to_know, "-content_need_to_know");
  editor_content_need_to_know.run();
}
catch(e){}

 //  // Add support for quick-top in markdown
 // converter.hooks.chain("postConversion", function (text) {
 //   // if <hr> is found:
 //   // 1) replace <hr> with </div>
 //   // 2) insert at the top of the text, <div class='quick-top'>
 //   var hr = /<hr( \/)?>/;
 //   if( text.match(hr) ) {
 //     text = text.replace(hr, "</div>");
 //     text = "<div class='quick_top'>".concat(text);
 //   }
 //   return text;
 // });

});
</script>



