
<div class="social-media-share">
<div class="social-media-button">
  <%= render :partial => "shared/twitter_share"%>
</div>
<div class="social-media-button">
  <%= render :partial => "shared/facebook_like" %>
</div>
</div>
