<table summary="social media share">
  <tr>
    <td colspan="2"><strong>Share</strong></td>
  </tr>
  <tr>
    <td><%= render :partial => "twitter_share" %></td>
    <td><%= render :partial => "facebook_like" %></td>
  </tr>
</table>
