<div class="page-container about-page">
	<div class="breadcrumbs">
		<%= link_to( "Home", root_url) %>
		>
		About
	</div>
	<div class="container">
		<div class="row">
			<div class="span9 main">
				<div class="main-content">
					<div class="title-spacing">
					<h1>About</h1>
					<p>West Michigan Green Guide is an experimental new approach designed to make it easier for people to find information and resources on green living and environmental issues in West Michigan.  It is managed by West Michigan Environmental Action Council and partner organizations and volunteers working to build a more sustainable region.</p>
					<p>West Michigan Green Guide is funded entirely by user donations.  If you’re interested in helping us answer more questions, you can make a donation (here) or sign up as a volunteer researcher (here). </p>
				    </div>
					<div class="title-spacing">
					<h1>What It Is</h1>
					<p>West Michigan Green Guide is a citizen-focused website that is question-driven, with clean, easy-to-navigate design. You can ask a question or type in keywords using plain language. You'll receive simple, friendly, concise, easy-to-understand responses, as though they're coming from a neighbor.</p>
					</div>

					<div class="title-spacing">
					<h1>The Design</h1>
					<p>People begin most internet journeys with Search, so the site is designed with that in mind. At the same time, the most frequently viewed topics are bubbled up front, so most people can just click straight to their topic of interest. The content is organized based on citizen understanding, the intuitive way you'd think of a problem.</p>
					<p>There are 3 types of content on the site:</p>
						<ul class="about-list"><li>Quick Answers tell you the key things the majority of people need to know in order to answer the question.</li>
							<li>Guides provide more detailed step-by-step information for more complex answers.</li>
							<li>Resources put you in touch with local organizations and government entities that provide services or support related to common issues.</li></ul></br>
							<p>Overall, West Michigan Green Guide is designed to be user-friendly, to make it easier for people to become better stewards of our environmental and enjoy our local resources.  It collects disparate resources from dozens of different sources to solve everyday environmental needs, while providing a mechanism for citizens to seek help for unique concerns.  It is the only such resource available in West Michigan.</p>
					</div>

					<div class="clearfix"></div>
					<div class="title-spacing">
							<h1>Our Team</h1>
							<p>West Michigan Green Guide is edited by a team of volunteer researchers.</p></br>
							<p>Insert volunteers</p>

					</div>
					<div class="clearfix"></div>
					<div class="title-spacing">
							<h1>With a little help from our friends...</h1>
							<p>The website was built during GiveCamp Grand Rapids 2012 by developers Jonathan Pichot, Sam Serpoosh, Jason Wagner, Andy Keller.  GiveCamp is a weekend-long event where technology professionals – from designers, developers and database administrators to marketers and web strategists – donate their time to provide solutions for non-profit organizations.</p>
							<p>The original code was written by <a href="http://codeforamerica.org">Code for America</a> for <a href="http://answers.honolulu.gov">Honolulu Answers</a>. We're indebted to the work of Sheba Najmi, Elizabeth Hunt, Philip Hale, Joey Cody, and Amir Reavis-Bey. You can fork their code <a href="https://github.com/codeforamerica/honolulu_answers">here</a>.
				</div>
				<br />


						</div>
					</div>
				</div>
			</div>
		</div>