<div class="page-container">
  <div class="breadcrumbs">
    <%= link_to( "Home", root_url) %>
	>
	About
  </div>
    <div class="container">
      
      <div class="row">
    <div class="span12 main">

	<h2>About Honolulu Answers</h2>
	<p>Have you ever visited a government website looking for information? If so, chances are you ran into bad navigation, broken links, and information that's hard to understand. Though there's a wealth of information on most government websites, it's hard for citizens to find the information to their specific question.</p>
	<p>Honolulu Answers is an experiment, a new approach to make it easier for people to navigate city information quickly. It's a citizen-focused website that is question-driven, with clean, easy-to-navigate design. You can ask a question or type in keywords using plain language – and receive friendly, concise, easy-to-understand responses, as though they're coming from a neighbor. Honolulu Answers aims to be accessible to anyone in Honolulu, regardless of their vocabulary skills.</p>
<p>People begin most internet journeys with Search, so we designed the site with that in mind. At the same time, we bubble up the most frequently viewed topics, below the Search field, so most users can just click straight to their topic of interest. The content is organized based on citizen understanding, the intuitive way you'd think of a problem, not the way the city is organized internally.</p>
	<p>There are a couple of different types of content on the site. For the vast majority of questions people have, they just want a Quick Answer, it tells you the 5 things you need to know, so you can be on your way in no time. For more complex answers, we'll have more detailed step-by-step Guides. For transactions you can conduct online, there are Web Services.</p> 
	<p>Overall, Honolulu Answers is designed to be very user-friendly. It declutters the government website experience, and it solves a problem people ordinarily have. Its goal is to make people's lives easier.</p>
<p>Honolulu Answers is a first-of-its-kind for municipal government, but we were very inspired by Gov.uk. Watch this <a href="">1-minute video</a> to learn more about Honolulu Answers.</p>
	
    <h2>Our Team</h2>
	<p>Honolulu Answers was created by <a href="">Code for America fellows</a> in partnership with the City and County of Honolulu:<br />
    <a href="http://twitter.com/snajmi"><div class="shoutout"><img class="biopic" src="/assets/images/sheba.jpg"><em>Sheba Najmi</em></div></a>
    <a href="http://twitter.com/ezoehunt"><div class="shoutout"><img class="biopic" src="/assets/images/liz.jpg"><em>Elizabeth Hunt</em></div></a>
    <a href="http://twitter.com/smallsense"><div class="shoutout"><img class="biopic" src="/assets/images/phil.jpg"><em>Phillip Hale</em></div></a>
	<a href="http://twitter.com/joeycdy"><div class="shoutout"><img class="biopic" src="/assets/images/joey.jpeg"><em>Joey Cody</em></div></a>
	<a href="http://twitter.com/maromba"><div class="shoutout"><img class="biopic" src="/assets/images/amir.jpeg"><em>Amir Reavis-Bey</em></div></a>
	</p>
	<div class="clearfix"></div>
   

    <h2>With a little help from our friends...</h2>
    <a href="http://twitter.com/angelk"><div class="shoutout"><img class="biopic" src="/assets/images/angel.jpg"><em>Angel Kittiyachavalit</em></div></a>
    <a href="http://twitter.com/ryanresella"><div class="shoutout"><img class="biopic" src="/assets/images/rob.png"><em>Rob Davis</em></div></a> 
    <a href="http://twitter.com/ryanresella"><div class="shoutout"><img class="biopic" src="/assets/images/mick.jpeg"><em>Mick Thompson</em></div></a> 
    <a href="http://twitter.com/dianavtran"><div class="shoutout"><img class="biopic" src="/assets/images/diana.jpeg"><em>Diana Tran</em></div></a>
    <a href="http://twitter.com/ryanresella"><div class="shoutout"><img class="biopic" src="/assets/images/nick.jpeg"><em>Nick Doiron</em></div></a> 
	<a href="http://twitter.com/ryanresella"><div class="shoutout"><img class="biopic" src="/assets/images/cyd.jpeg"><em>Cyd Harrell</em></div></a> 

    <div class="clearfix"></div>

    <a href="http://www.honolulu.gov"><div class="shoutout"><img class="biopic" src="/assets/images/city.png"><em>City &amp; County of Honolulu</em></div></a> 
    <a href="http://codeforamerica.org/"><div class="shoutout"><img class="biopic" src="/assets/images/cfa.png"><em>Code for America</em></div></a>
    <a href="http://brigade.codeforamerica.org/"><div class="shoutout"><img class="biopic" src="/assets/images/brigade.png"><em>CfA Honolulu Brigade</em></div></a>
	<a href="http://gov.uk/"><div class="shoutout"><img class="biopic" src="/assets/images/govuk.png"><em>Gov.uk</em></div></a>

    <div class="clearfix"></div>

    <h2>We'd love to hear from you</h2>
    <p>

    <span class="comment">Have feedback? Or want the application in your city?</span>
   	&nbsp;<a href="mailto:honolulu@codeforamerica.org">honolulu@codeforamerica.org</a>
   	<br>
 	<span class="comment">Are you a developer?</span>
 	&nbsp;Fork the app on <a href="http://github.com/codeforamerica/honolulu_answers">GitHub</a>
   	<br>
	<span class="comment">Want to write content for your city?</span>
	&nbsp;Read our <a href="">content style guide</a>.
   	<br>
        </div>

    </p>
    </div>
</div>	
		<br>
		<div class="twittershare">
				<a href="https://twitter.com/HonoluluAnswers" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @HonoluluAnswers</a>
				&nbsp;
				<a href="https://twitter.com/share" class="twitter-share-button" data-counturl="http://answers.honolulu.gov" data-url="http://answers.honolulu.gov" data-text=".@HonoluluAnswers: a citizen-centric approach to city information. New project from @codeforamerica @HonoluluGov" data-related="HonoluluAnswers" data-dnt="true">Tweet about Honolulu Answers</a> 
</div>	
</div>
