<div class="page-container">
  <div class="breadcrumbs">
    <%= link_to( "Home", root_url) %>
	>
	About
  </div>
    <div class="container">
      
      <div class="row">
    <div class="span12 main">

    <h2>Our Team</h2>
    <a href="http://twitter.com/snajmi"><div class="shoutout"><img class="biopic" src="/assets/bio-alex.jpg"><em>Sheba Najmi</em></div></a>

    <a href="http://twitter.com/ezoehunt"><div class="shoutout"><img class="biopic" src="/assets/bio-liz.jpg"><em>Elizabeth Hunt</em></div></a>

    <a href="http://twitter.com/smallsense"><div class="shoutout"><img class="biopic" src="/assets/bio-hannah.jpg"><em>Phillip Hale</em></div></a>

	<a href="http://twitter.com/joeycdy"><div class="shoutout"><img class="biopic" src="/assets/bio-joey.jpg"><em>Joey Cody</em></div></a>
	
	<a href="http://twitter.com/maromba"><div class="shoutout"><img class="biopic" src="/assets/bio-hannah.jpg"><em>Amir Reavis-Bey</em></div></a>

	<div class="clearfix"></div>
    </p>

    <h2>Our Friends</h2>
    <a href="http://twitter.com/angelk"><div class="shoutout"><img class="biopic" src="/assets/bio-angel.jpg"><em>Angel Kittiyachavalit</em></div></a>

    <a href="http://twitter.com/ryanresella"><div class="shoutout"><img class="biopic" src="/assets/bio-ryan.png"><em>Mick Thompson</em></div></a> 

    <a href="http://twitter.com/dianavtran"><div class="shoutout"><img class="biopic" src="/assets/bio-diana.jpg"><em>Diana Tran</em></div></a>
   
    <a href="http://twitter.com/ryanresella"><div class="shoutout"><img class="biopic" src="/assets/bio-ryan.png"><em>Rob Davis</em></div></a> 

    <div class="clearfix"></div>

    <a href="http://www.phila.gov/mayor/"><div class="shoutout"><img class="biopic" src="/assets/bio-city.png"><em>City & County of Honolulu</em></div></a>
    
    <a href="http://codeforamerica.org/"><div class="shoutout"><img class="biopic" src="/assets/bio-cfa.png"><em>Code for America</em></div></a>

      <a href="http://codeforamerica.org/"><div class="shoutout"><img class="biopic" src="/assets/bio-cfa.png"><em>Code for America Honolulu Brigade</em></div></a>

    <div class="clearfix"></div>

    <h2>We'd love to hear from you</h2>
    <p>

    <span class="comment">Have feedback? Or want the application in your city?</span>
   	&nbsp;<a href="mailto:honolulu@codeforamerica.org">honolulu@codeforamerica.org</a>
   	<br>
 	<span class="comment">Are you a developer?</span>
 	&nbsp;Fork the app on <a href="http://github.com/codeforamerica/honolulu_answers">GitHub</a>
   	<br>
	<span class="comment">Want to write content for your city?</span>
	&nbsp;Read our content style guide.
   	<br>
        </div>

    </p>
    </div>
</div>	
		<br>
		<div class="twittershare">
				<a href="https://twitter.com/HonoluluAnswers" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @HonoluluAnswers</a>
				&nbsp;
				<a href="https://twitter.com/share" class="twitter-share-button" data-counturl="http://answers.honolulu.gov" data-url="http://answers.honolulu.gov" data-text=".@Textizen: citizen feedback for the digital age. New project from @codeforamerica" data-related="Textizen" data-hashtags="cfaphl" data-dnt="true">Tweet</a> 
</div>	
</div>
