<div id="search_content">
  <h1>Honolulu Answers</h1>
  <p>Get your honolulu answers here.</p>


  <form id="search_form">
    <input type="text" id="search" />
    <input type="submit" id="search_btn" value="Search" />
  </form>
</div>

<div id="results">
  
  <ul>
    <li>
      Result.
    </li>
  </ul>

</div>





<%= link_to "Browse", articles_path %>



