<div class="navbar-top">
  <div class="container">
    <div class="logo">
      <a href="/" class="hnl-logo">Honolulu Answers</a>
      <span class="bubble"><img src="/assets/beta.png" class="beta"></span>
    </div>
    <ul class="nav-top">
      <li class="">
        <a href="#">Guides</a>
      </li>
      <li class="">
        <a href="#">Quick Answers</a>
      </li>
      <li class="">
        <a href="#">Web Services</a>
      </li>
    </ul>
  </div>
</div><!-- /navbar-top -->

<div class="container-fluid">
  <div class="modal-container span9">
    <div class="main-modal">
      <h3 class="welcome">Welcome To</h3>
      <h1 class="home-modal">Honolulu Answers</h1>
      <p class="call">
        Find answers to the questions you have about Honolulu city government.
      </p>
      <div class="ribbon-front">
        <div class="ribbon-wrapper">
          <form id="search" action="/search" method="get">
            <input type="text" name="q" id="query" placeholder="Try driver's license, jobs or registration...">
            <input class="btn cupid-green" type="submit" value="SEARCH">
          </form>
        </div>
      </div><!-- /search-ribbon -->
      <div class="popular">
        <h2>Most Popular Categories:</h2>
        <div class="pop-categories">
          <a href="#"><div class="category">
            <span class="left">Business</span>
            <span class="right">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</span>
          </div></a>
          <a href="#"><div class="category">
            <span class="left">Crime</span>
            <span class="right">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</span>
          </div></a>
          <a href="#"><div class="category last">
            <span class="left">Driving</span>
            <span class="right">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</span>
          </div></a>
        </div>
      </div><!-- /popular -->
    </div><!-- /main-modal -->
  </div><!-- /modal-container -->
</div><!-- /container-fluid -->

<div class="footer">
  <div class="container-fluid">
    <ul class="footer-links">
      <li><a href="#">Guides</a></li>
      <li><a href="#">Quick Questions</a></li>
      <li><a href="#">Web Services</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  <div class="cfa-logos">
    <!-- <img src="#"> -->
  </div>
</div><!-- /footer -->


<!-- <div id="topPattern"></div>

<div id="navigation"> 
   
  <div id="searchBox">
    <p class="welcome">Welcome to Honolulu Answers, the best way to get government services and information </p>
    
    <form id="search" autocomplete="off">
      <p class="hnlanswers"><a class="header" href="/">Honolulu Answers</a> </p>
      <input type="text" id="query" />
      <input type="submit" class="btn" value="" id="query-btn" />
    </form>

    <div id="autocomplete"></div>
    <span class="exampleText">Try driver license, jobs, car registration, etc.</span>
  </div>


  <div id="browse">
    <p><h2>Browse Categories</h2></p>
  <p class="tags"><a href="articles/#driver-license" class="browse">Driver License</a></p>
  <p class="tags"><a href="articles/#motor-vehicle" class="browse">Motor Vehicle</a></p>
  <p class="tags"><a href="articles/#jobs" class="browse">Jobs</a></p>
  <p class="tags"><a href="articles/#camping" class="browse">Camping</a></p>
  <p class="tags"><a href="articles/#planning-permit" class="browse">Planning Permit</a></p>
  <p class="tags"><a href="articles/#requesting-service" class="browse">Service Request</a></p>
  <p class="tags"><a href="articles/#garbage-collection" class="browse">Garbage Collection</a></p>  
  <p class="tags"><a href="articles/#traffic-report" class="browse">Traffic Report</a></p>
  <p class="tags"><a href="articles/#satellite-city-halls" class="browse">Satellite City Halls</a></p>
  <p class="tags"><a href="articles/#live-webcams" class="browse">Live Webcams</a></p>
  </div>

</div>

<div id="content">
  <div id="results">
      <div id="searchStatus">Search results for: "<strong></strong>"<br />
    <div class="count">results found</div>
    </div>
    <div id="suggestion"></div>
    <div id="loading">
      Loading results...
    </div>

    <ul></ul>
  </div>
</div>


<div id="getsat-widget-784"></div>
<script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>

<%= render :partial => 'shared/autocomplete' %>-->
