<div class="modal-container span8">
  <div class="main-modal">

    <% if flash[:success] %>
      <div class="home-flash">
        <h3 class="info_box"><%= flash[:success] %></h3>
      </div>
    <% end %>

    <div id="welcome-line-l"></div>
    <div id="welcome-line-r"></div>
    <h3 class="welcome">Welcome To The</h3>
    <h1 class="home-modal">West Michigan Green Guide</h1>
    <p class="call">
      Find answers to your environmental questions.
    </p>

    <div class="ribbon-front">
      <div class="triangle-l"></div>
      <div class="triangle-r"></div>
      <div class="ribbon-wrapper">
        <form id="search" action="search" name="search" method="get">
          <input type="text" name="q" id="query" title='query' placeholder="Type your question here...">
          <input class="btn-search" id="home-search" type="submit" value="SEARCH" title="Search">
        </form>
      </div>
    </div><!-- /ribbon-wrapper -->

    <div class="popular">
      <div class="pop-heading">
        <h2>Most Popular Categories:</h2>
      </div>
      <div class="pop-categories">
        <!-- /needs to be dynamic -->
      </div>
    </div><!-- /popular -->
  </div><!-- /main-modal -->
</div><!-- /modal-container -->

<%= render :partial => 'shared/autocomplete' %>
