<div id="topDivPattern"></div>

<div id="bgTopDiv">  
  <div id="searchContent">
    <p class="display">Welcome to Honolulu Answers, the best way to get government services and information. </p>
    <form id="searchForm" autocomplete="off">
      <input type="text" id="search" />
      <input type="submit" id="search_btn" value="Search" />
    </form>
    <span class="exampleText">Try driver license, camping, jobs, car registation</span>
  </div>


  <div id="browse">
  	<p><h2>Browse Categories</h2></p>
	<p class="tags"><a href="#" class="browse">Driver License</a></p>
	<p class="tags"><a href="#" class="browse">Motor Vehicle</a></p>
	<p class="tags"><a href="#" class="browse">Camping</a></p>
	<p class="tags"><a href="#" class="browse">Jobs</a></p>
  </div>

</div>

<div id="mainContainer">
  <div id="results">
    <div id="searchstatus">Search results for "<strong></strong>"<br />
    <div class="count">results found</div>
    </div>
    <ul></ul> 
  </div> 
</div>






