<% set_meta_tags :description => "Finde Antworten auf deine Fragen zu Diensten der Stadt M端nster." %>

<div class="modal-container span8">
  <div class="main-modal">
    <div id="welcome-line-l"></div>
    <div id="welcome-line-r"></div>
    <h3 class="welcome">Willkommen bei der</h3>
    <h1 class="home-modal">M端nster FAQ</h1>
    <p class="call">
      Finde Antworten auf deine Fragen zu Diensten der Stadt M端nster.
    </p>

    <div class="ribbon-front">
      <div class="triangle-l"></div>
      <div class="triangle-r"></div>
      <div class="ribbon-wrapper">
        <form id="search" action="search" name="search" method="get">
          <input type="text" name="q" id="query" title='query'
            placeholder="Versuch F端hrerschein, Stellen, oder Meldung...">
          <input class="btn-search" id="home-search" type="submit" value="Suchen"
            title="Suchen">
        </form>
      </div>
    </div>

    <div class="popular">
      <div class="pop-heading">
        <h2>Beliebteste Kategorien:</h2>
      </div>
      <div class="pop-categories">
        <%= render :partial => 'home/category', :collection => @popular_categories %>
      </div>
    </div>

  </div><!-- /main-modal -->
</div><!-- /modal-container -->
