<div id="topDivPattern"></div>

<div id="bgTopDiv">  
  <div id="searchContent">
    <p class="display">Welcome to Honolulu Answers, the best way to get government services and information </p>
	
	<!-- Honolulu header for mobile version -->
	<p class="hnlanswers"><a class="header" href="/">Honolulu Answers</a></p>
	
	<form class="form-wrapper cf" id="searchForm">
		<input type="text" id="search" placeholder="Find what you are looking for..." autofocus="autofocus">
		<button type="submit" id="search_btn">Search</button>
    </form>

	<div id="results"></div>
    <span class="exampleText">Try driver license, jobs, car registration, etc.</span>
  </div>


  <div id="browse">
  	<p><h2>Browse Categories</h2></p>
	<p class="tags"><a href="articles/#driver-license" class="browse">Driver License</a></p>
	<p class="tags"><a href="articles/#motor-vehicle" class="browse">Motor Vehicle</a></p>
	<p class="tags"><a href="articles/#jobs" class="browse">Jobs</a></p>
	<p class="tags"><a href="articles/#camping" class="browse">Camping</a></p>
	<p class="tags"><a href="articles/#planning-permit" class="browse">Planning Permit</a></p>
	<p class="tags"><a href="articles/#requesting-service" class="browse">Service Request</a></p>
	<p class="tags"><a href="articles/#garbage-collection" class="browse">Garbage Collection</a></p>	
	<p class="tags"><a href="articles/#traffic-report" class="browse">Traffic Report</a></p>
	<p class="tags"><a href="articles/#satellite-city-halls" class="browse">Satellite City Halls</a></p>
	<p class="tags"><a href="articles/#live-webcams" class="browse">Live Webcams</a></p>
  </div>

</div>

<div id="mainContainer">
  <div id="results">
    <div id="searchstatus">Search results for "<strong></strong>"<br />
    <div class="count">results found</div>
    </div>
    <div id="searchstatusloading"> 
      Loading results...
    </div>

    <ul></ul> 
  </div> 
</div>

<script type="text/javascript">
$(document).ready(function(){
    // let the form be 'indextank-aware'
    $("#searchForm").indextank_Ize("http://8bpwv.api.searchify.com", "hnlanswers-production");
    // let the query box have autocomplete
    $("#search").indextank_Autocomplete({ fieldName: "title" }).indextank_AjaxSearch( {listeners: renderer}).indextank_InstantSearch();
});
</script>