<div id="topDivPattern"></div>

<div id="bgTopDiv">  
  <div id="searchContent">
    <p class="display">Welcome to Honolulu Answers, the best way to get government services and information </p>
    <form id="searchForm" autocomplete="off">
      <p class="hnlanswers"><a class="header" href="/">Honolulu Answers</a></p>
      <input type="text" id="search" />
      <input type="submit" id="search_btn" value="" />
    </form>
    <span class="exampleText">Try driver license, jobs, car registration, etc.</span>
  </div>


  <div id="browse">
  	<p><h2>Browse Categories</h2></p>
	<p class="tags"><a href="articles/#driverlicense" class="browse">Driver License</a></p>
	<p class="tags"><a href="articles/#motorvehicle" class="browse">Motor Vehicle</a></p>
	<p class="tags"><a href="articles/#jobs" class="browse">Jobs</a></p>
	<p class="tags"><a href="articles/#camping" class="browse">Camping</a></p>
	<p class="tags"><a href="articles/#planningpermit" class="browse">Planning Permit</a></p>
	<p class="tags"><a href="articles/#requestingservice" class="browse">Requesting Service</a></p>	
	<p class="tags"><a href="articles/#garbagecollection" class="browse">Garbage Collection</a></p>	
	<p class="tags"><a href="articles/#trafficreport" class="browse">Traffic Report</a></p>
	<p class="tags"><a href="articles/#satellitecityhalls" class="browse">Satellite City Halls</a></p>	
  </div>

</div>

<div id="mainContainer">
  <div id="results">
    <div id="searchstatus">Search results for "<strong></strong>"<br />
    <div class="count">results found</div>
    </div>
    <div id="searchstatusloading"> 
      Loading results...
    </div>

    <ul></ul> 
  </div> 
</div>






