<div class="feedback-form">
  <%= form_for([@article, @feedback]) do |f| %>
    <span>Did you find this information helpful?</span> 
    <%= f.submit "yes", :name => "yes_feedback" %>
    <%= f.submit "no", :name => "no_feedback" %>
  <% end %>
  <div class="feedback-correction">
    If you have specific feedback or a correction, <a href="mailto:<%= ENV['CONTACT_EMAIL'] %>" target=_blank>send us an email</a>.
  </div>
</div>
