/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *
 * application-mobile.css.scss
 *
 *= require_self
 *= require_tree ./mobile
*/

@media only screen and (max-width: 600px), only screen and (max-device-width: 600px)  {
  /* remove feedback side-tab */
  .gsfn-widget-tab{
    display: none !important; 
  }
  /* center Honolulu Answers title */
  .navbar-top .container{
    text-align: center;
  }
  /* make the nav work */
  .nav-top{
    background-color: #000;
    width: 100%;
    padding-left: 10%;
    margin-bottom: -10px;
  }
  /* show the search */
  .header-search{
    display: block;
    background-color: #000;
    padding-bottom: 60px;
    text-align: center;
  }
  #query{
    width: 70%;
  }
  /* move the main part down a bit */
  .main{
    margin-top: 150px;
  }
  /* fix the footer */
  .footer{
    height: 100px;
  }
  .footer .container{
    text-align: center;
  }
  .cfa-logos{
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
}