/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/


#searchContent {
	background:  rgba(255, 198, 10, 0.8);
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
	position: relative;
	
}

#topDivPattern {
  display:none;
}

#searchForm{ 
  width:100%;
  margin-top:5px;
}
#searchContent.headline form{
  width:inherit;
  padding-top:0px;
} 
#searchContent{ 
  margin:0px;
  padding:5px 0px;
  height:inherit;
}
.searchForm input#search { 
  width:80%;
}
#bgTopDiv{ 
  padding:0px 0px 50px 0px;
}
#bgTopDiv.mobileresults{
  padding:0px;
} 
#bgTopDiv.headline{ 
  position:relative;
}
p.hnlanswers{ 
  float:none;
}

#mainContainer {
  background-color: #fff;
  margin: 0 auto;
  padding: 5px;
  min-width:300px;
  width:inherit;
}
span.exampleText{ 
  display:none;
}

input#search{ 
  width: 200px;
  padding:5px;
  margin-top:5px;
  
}

input#search_btn {
	width: 60px;
	height: 30px;
}



#browse {
	background:  rgba(255, 198, 10, 0.8);
	position: relative;
	margin: 40px auto;
	border-radius: 3px;
}
div.content {
	width: inherit;
	padding: 5px 0;
}

div.contact {
  background-color: #ecdebd;
  width: inherit;
  padding: 5px 5px;
  position: absolute;
  bottom: -20px;
  left:0px;
  color: #ecdebd;
}

div.article{ 
  padding: 10px 15px;
  min-width:20px;
  max-width:inherit;
  border-top: 3px solid #BD8A38;
  position: relative;
  font: 14px arial;
  position:relative;
  left:0px;
  margin:0px;
}

div.article h1{ 
  font-size:32px;
  color:#333;
  font-weight:normal;
  display: inline;
}



/* #searchstatus{ 
  margin:20px;
  font-size:20px;
  display:none;
  font-family:arial;
  line-height:24px;
}
#searchstatus .count{ 
  font-size:14px;
  font-style:italic;
}
#searchstatus strong{
  font-weight:bold;
} 


.articleIcon {
	position: relative;
	vertical-align: middle;
}

div#results ul{ 
  margin: 1.5em 0 0 0;
  padding: 0;
  border-top: dashed 1px #999;
}

div#results ul li{
  padding: 0 0 1em 0;
  border-bottom: dashed 1px #999;
  list-style:none;
} 

*/


.exampleText {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #937426;
	display: none;
}

.disclaimer {
	padding: 0 20px;
}
