/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/

body{ 
	background: transparent url(/assets/background_pattern.png) repeat left top;
	margin: 0 0 0 0;
	font-size:16px;
	font-family:Helvetica, sans-serif;
	line-height:140%;
}

/* -------- Tables & Lists -------- */

table, th, td {
	padding: 5px;
}

table {
	width: 80%;
	margin: auto;
}

th {
	text-align: left;
	background-color: #ddd;
	font:  14px Helvetica, Arial, sans-serif;
}

td {
	font-size: 12px;
	text-align: left;
	background-color: #ededed;
	margin: 1px;
}

ul{
	margin-top:12px;
}

li {
	margin: 0 0 15px 5px;
}

p{
	margin-bottom:12px;
}

h1 {
	font-size: 28px;
	color: #333;
}

h2 {
	color: #000;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	vertical-align: top;
}

h2.quickanswer{
	color:#d33895;
}

h3 {
	color: #262626;
	font-size: 16px;
	margin: 0;
}

h4 {
	color: #262626;
	font: normal 14px Helvetica, sans-serif;
}

/* --------- structure ---------*/
#topDivPattern {
	background: transparent url(/assets/border.png) repeat-x;
	opacity: 0.75;
	position: absolute;
	width: 100%;
	height: 25px;
	top: .5em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	z-index: 99;
}

#bgTopDiv {
  background: transparent url(/assets/search_page_photo.png) no-repeat left top;
  width: 100%;
  padding-top:50px;
  padding-bottom:100px;

}
#bgTopDiv.headline {
  height: 80px;
  position:absolute;
  top:0px;
  background-position:0px -120px;
  padding:0px;
}

#footer {
  width: 100%;
  background-color: #ccc;
  padding: 0;
  display: block;
  height: 40px;
}

#browse {
  background:  rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 5px 25px 15px;
  position: relative;
  margin: 70px auto;
  width: 50%;
}

.tags {
	background-color: #5397B2;
	display: inline-block;
	margin: 0px 2px 5px 0;
	padding: 5px;
	border-radius: 1px;
	color: #fff;
	font: 12px Helvetica, sans-serif;
}

.cfaLogo {
	float: right;
	vertical-align: middle;
	margin: 20px;
}

h4.disclaimer {
  background-color: #F17921;
  margin-top:0px;
  padding:15px 20px;
}
.disclaimer {
	padding: 0 20px;
}

/* --------- search ---------*/
#searchContent {
	background:  rgba(255, 198, 10, 1);
    border-radius:3px;
	margin: 70px auto;
	padding: 25px;
	position: relative;
	width: 50%;
}

.searchForm { 
	position: relative;
	margin: .5em 0 .5em 0;
	display: inline-block;
}

#searchContent.headline {
  background:  rgba(255, 198, 10, 1);
  background: #ffc60a;
  position: absolute;
  width: 100%;
  text-align: center;
  padding:0px;
  margin-top:0px;
}
#searchContent.headline form{
  margin:auto;
  width:600px;
  padding-top:40px;
  padding-bottom:10px;
}

#searchText {
	position: relative;
	top: 2.3em;
	width:100%;
	margin: 0 auto;
}

#mainContainer {
  width: 50%;
  min-width:400px;
  max-width:700px;
  height: 100%;
  margin: 120px auto;
  padding: 0;
  display:none;
  background:#fff;
  padding:40px;
  
}
#results ul div.preview{ 
	margin:5px 0px 5px 30px;
	line-height:140%;
}
#results ul{ 
  margin: 1.5em 0 0 0;
  padding: 0;
  border-top: dashed 1px #999;
}
#results ul li{
  padding: 0 0 1em 0;
  border-bottom: dashed 1px #999;
  list-style:none;
  margin-left: 15px;
  background:url(/assets/quick_answers_icon_small.png)  0px 9px no-repeat;
} 
#results ul h1{
	margin-top:12px;
	margin-bottom:0px;
	margin-left:30px;
	padding-top:5px;
	line-height:120%;
}

input#search{ 
  width: 90%;
  height: 32px;
  margin:15px 0 3px 0;
border: solid 1px #D2D2D2;
padding: 3px 5px;
border-radius: 10px;
background: #FFF;
font-size: 19px;
}

input#search_btn {
	position: relative;
	width: 30px;
	height:30px;
	background: transparent url(/assets/searchIcon.png) no-repeat center center;
	background-color:#5397B2;
	border: none;
	border-radius: 8px;
	bottom:9px;
	left: -40px;
}

.headline input#search_btn {
	position: relative;
	width: 20px;
	height:20px;
	background: transparent url(/assets/searchIcon.png) no-repeat center center;
	background-size: 12px 12px;
	background-color:#5397B2;
	border: none;
	border-radius: 5px;
	bottom:3px;
	left: -30px;	
}
	
.headline input#search{ 
  width: 58%;
  height: 20px;
  margin:6px 0px 2px 0px;
  border: solid 1px #D2D2D2;
  padding: 3px 5px;
  border-radius: 8px;
  background: #FFF;
  font-size: 14px;
}

#searchstatus{ 
  margin:20px;
  font-size:20px;
  display:none;
  font-family:arial;
  line-height:24px;
}
#searchstatus .count{ 
  font-size:14px;
  font-style:italic;
}
#searchstatus strong{
  font-weight:bold;
} 
#searchstatusloading{ 
  font-size:24px;
  font-family:arial;
  display:none;
  font-weight:bold;
  text-align:center;
}

.articleIcon {
	position: relative;
	vertical-align: middle;
}

p.hnlanswers { 
  color: #5c3e00;
  display:inline;
  float: left;
  font-family: PT Sans, sans-serif;
  font-size: 24px;
  margin: 4px 0 0 0;
/*  display:none;*/
}

/* --------- list of articles ---------*/
div.article h1.list{
	margin:6px 0px 0px 0px;
}

/* --------- article ---------*/
div.article{ 
  background: #fff;
  padding: 10px 30px;
  min-width:500px;
  max-width:660px;
  border-top: 3px solid #BD8A38;
  position: relative;
  margin: 120px auto;
  left: -100px;
}

div.content {
	width: 100%;
	padding: 24px 0;
}

div.contact {
	background-color: #ecdebd;
	width: 200px;
	padding: 5px 15px;
	position: absolute;
	right: -220px;
	top: 50px;
	color: #ecdebd;
}

div.onlineservice {
  width: 600px;
  background-color: #5397B2;
  margin: 0px auto 20px auto;
  padding: 30px 25px;
  min-height:85px;
}

.servicebox {
	background: transparent url(/assets/getting_started_btn.png) no-repeat left top;
	width: 213px;
	height: 97px;
	float: right;

}

.icon {
	width: 42px;
	height: 61px;
	display: inline;
	margin: 10px 15px 0 0;
	float: left;
}

div.quick_top{ /*blue box for quick answers*/
	background:#94d3ec; /*bae3f4; /*dbddfc;*/
	padding:6px 18px 6px 18px;
	margin:0px 0px 18px 0px;
}

div.quick_bottom{ /*box for addl info*/
	padding:0px 12px 12px 12px;
	margin:0px;
}

div.article h1{ /*article title*/
	font-size:32px;
	color:#333;
	font-weight:normal;
	margin:-24px 0px 0px 56px;
	line-height:120%;
}

h3.service{ 
} 

div.quick_top h2,
div.quick_bottom h2{
	margin-bottom:9px;
	text-transform:none;
	font-size:100%;
}
div.quick_top p{
}

div.quick_bottom h3{
	margin:24px 0px 0px 0px;
	text-transform:uppercase;
	font-size:14px;
}

div.quick_bottom h3:first-child{
	margin-top:0px;
}
div.quick_bottom p{
	margin: 0px 0px 12px 0px;
}

/*p.quickAnswer {
	margin-right: 250px;
}

p.quickAnswer2 {
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
}*/

/* -------------- Misc ---------------*/
.display {
	color: #5c3e00;
	font-family: PT Sans, sans-serif;
	font-size: 29px;
	line-height: 1.1em;
}

.exampleText {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #937426;
}

.italic {
	font-style: italic;
	margin: 0;
	padding: 0;
}

/*------------Links-----------*/
a:link {
	color: #01546E;
	font-weight: normal;
}

a:hover {
	color: #895b00;
}

a:visited {
	color: #9a006d;
	text-decoration: none;
}

a.results:link {
	font-weight: normal;
}

a.results:hover {
	font-weight: normal;
	color: #895b00;
}

a.results:visited {
	font-weight: normal;
	color: #9a006d;
}

a.browse:link {
	color: #fff;
	text-decoration: none;
}

a.browse:hover {
	text-decoration: underline;
}

a.browse:visited {
	color: #fff;
}

a.browse:active {
	color: #fff;
}

a.header{
	color:#000;
	text-decoration:none;
	font-size:24px;
	margin-top:3px;
	display:block;
}