/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require_tree .
*/

body{ 
  background: transparent url(background_pattern.png) repeat left top;
  margin: 0 0 0 0;
}

#topDivPattern {
	background: transparent url(border.png) repeat-x;
	opacity: 0.75;
	position: absolute;
	width: 100%;
	height: 25px;
	top: .5em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#bgTopDiv {
	background: transparent url(search_page_photo.png) no-repeat left top;
	position: absolute;
	width: 100%;
	height: 70%;
	margin: 0;
	padding: 0;
}

#search_content{
	background: transparent url(yellow_bg.png) repeat left top;
	position: relative;
	top: 4em;
	width:50%;
	margin: 0 auto;
	padding: 15px;
}

form#search_form{ 
  margin: 10px 0 10px 0;
}


/* -------------- Font Stuff ---------------*/

p {
	font-family: Glegoo, sans-serif;
	font-size: 18px;
	color: #352400;
	margin: 0;
	padding: 0;
}

.example_text {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #937426;
}
/*
div.article{ 
  width:500px;
  margin:auto;
}
div.date{ 
  color:#999;
  font-weight:0.8em;
}
div.content{ 
  margin:20px 0px;
  font-weight:1.5em;
  background:#fff;
}

div#results{ 
  width:600px;
  background:#eee;
  margin:20px  auto 0px;
  padding: 50px;
  display:none;
}

input#search{ 
  width:400px;
}

div#results ul{ 
  margin:0px;
  padding:0px;
}
div#results ul li{
  padding:20px 0px;
  border-bottom:dotted 1px #ccc;
  list-style:none;
} 

*/