/* Honolulu Answers CSS - V2 */
/* Boostrap Scaffolding Included in asset pipeliene */
/* CSS Reset - Eric Meyer */
html, body, div, span, ul, ol, li, form, fieldset, legend, label, h1, h2, h3, h4, h5, h6, p, a { 
  margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul, li { list-style: none; }

/* Font-Face Declarations */
@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:700);

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('/assets/fonts/League_Gothic-webfont.eot');
    src: url('/assets/fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/League_Gothic-webfont.woff') format('woff'),
         url('/assets/fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('/assets/fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Sticky Footer CSS */
html, body, #wrapper { height:100%; }
body > #wrapper { height:auto; min-height: 100%; }
.container.main { padding-bottom: 80px; /* negative footer height for sticky footer */ }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }



/* General Styles */
/* -------------- */
body {
 background:transparent url("/assets/background_image.jpg") no-repeat 0 50%;
 background-attachment: fixed;
 font: 100%/1.5 "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}


/* Fonts */
/* ----- */
h1, h2, h3, h4, h5, h6 { font: 100%/1.5 "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif; line-height: 100%; }

h1 {
  font-size: 1.6em;
}
h1.home-modal {
  font-size: 6.3em;
  color: #303030;
  font-family: "News Cycle", Helvetica, Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px 0;
  /*text-shadow: 0px 50px 5px rgba(0, 0, 0, 0.1), 1px 2px 5px rgba(0, 0, 0, 0.05), -1px 2px 5px rgba(0, 0, 0, 0.05);*/
  text-shadow: -5px 0 2px #bebebf;
}
h2 {
  font-size: 18px;
}
h2.sidebar {
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  background-color:#4580b4;
  padding: 10px 10px 10px 15px;
  margin: 0;
}
h3.welcome {
  font-family: "Satisfy", cursive;
  color: #303030;
  font-size:36px;
  text-align: center;
  line-height: 100%;
  margin:0 0 20px 0;
}

h4 { }
h5 { }
h6 { }

p {
  font-size: 14px;
  color: #070707;
}
p.preview {
  font-weight: 300;
  margin-top: 10px;
}

a { }

a.hnl-logo {
  font-size: 32px;
  color: #FFFFFF;
  font-family: 'LeagueGothicRegular', 'League Gothic', Helvetica, Arial;
  font-weight: bold;
  border-bottom: 10px solid #ffde4d;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 100%;
}

.sidebar-content > ul > li > a {
  font-size: 14px;
}


/* Top Navbar */
/* ---------- */
div.navbar-top {
  width: 100%;
  background-color: #070707;
  height: 80px;
}
div.logo {
  display: inline-block;
  padding-top:35px;
}
img.beta {
  margin-top: -65px;
  margin-left: -10px;
}
ul.nav-top {
  display: inline-block;
  list-style: none;
  margin: 10px 0 0 -40px;
}
.nav-top > li {
  display: block;
  float: left;
}
.nav-top > li > a {
  font-family: Helvetica, Arial;
  color: #FFFFFF;
  font-weight: bold;
  float: none;
  font-size: 14px;
  padding: 9px 10px 11px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


/* Homepage Modal */
/* -------------- */
.container.main {
  margin-top: 50px;
  margin-bottom: 50px;
}
.modal-container {
  background-color: #fbfbfb;
  float: none;
  margin: 0 auto;
  padding: 50px;
  border:1px solid #FFF;
  -moz-box-shadow:    0px 0px 20px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
  box-shadow:         0px 0px 20px 1px rgba(0, 0, 0, 0.4);
}

div.main-modal{ }

div.pop-heading {
  border-bottom: 10px solid #ffde4d;
  margin: 0 0 20px 0;
}

div.pop-categories { }

p.call {
  font-size: 28px;
  line-height: 34px;
  color: #323232;  
}
div.category {
  padding: 20px 0;
  border-bottom: 1px solid #cdcbcb;
}
div.category.last {
  border: none;
}
.category {
  color: #070707;
  font-family: Helvetica, Arial;
  font-size: 14px;
}
.category .left {
  font-size: 20px;
  width: 100px;
  display: inline-block;
  margin-right: 60px;
}


/* Homepage Modal -- Search Ribbon*/
/* ------------------------------ */
div.search-ribbon {

}
.ribbon-wrapper {
  position: relative;
  width: 700px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
}
.ribbon-front {
  position: relative;
  padding: 25px 70px;
  margin: 0 -78px 50px -78px;
  /*border: 1px solid #3198DD;*/
  /*background: #33aaf8;*/
  background-color: rgb(69, 128, 180);
  color: white;
  text-shadow: 0 1px 1px #155B88;
  /*border-top: 1px solid #13A2FB;*/
  /*border-bottom: 1px solid #238FD1;*/
  /*border-radius: 4px;*/
/*  background: -webkit-gradient(linear, 0 0, 0 100%, from(#33ACFC), to(#3198DD));
  background: -webkit-linear-gradient(top, #33ACFC 0%, #3198DD 100%);
  background: -moz-linear-gradient(top, #33ACFC 0%, #3198DD 100%);
  background: -ms-linear-gradient(top, #33ACFC 0%, #3198DD 100%);
  background: linear-gradient(top, #33ACFC 0%, #3198DD 100%);*/
  box-shadow: 2px 1px 6px -3px rgba(0, 0, 0, 0.5), -2px 0px 5px -3px rgba(0, 0, 0, 0.5), 0px 5px 10px -4px rgba(0, 0, 0, 0.3);
}
/*.ribbon-front:before,
.ribbon-front:after {
  content:" ";
  border-top:20px solid blue;
  position:absolute;
  bottom:-20px;
  width: 10px;
  height: 10px;
  bottom: -4px;
  border: none;
  border-radius: 10px;
}
.ribbon-front:before {
  border-left:20px solid transparent;
  left:0;
  border-radius: 10px;
}
.ribbon-front:after {
  border-right:20px solid transparent;
  right:0;
}*/

.ribbon-front .triangle-l {
  border-color: transparent #4a7d95 transparent transparent;
  border-style:solid;
  border-width:34px;
  height:0;
  width:0;
  position: absolute;
  left: -33px;
  top: 75px;
  z-index: -1;
}

.ribbon-front .triangle-r {
  border-color: transparent transparent transparent #4a7d95;
  border-style:solid;
  border-width:34px;
  height:0;
  width:0;
  position: absolute;
  left: 892px;
  top: 75px;
  z-index: -1;
}


/* Search bar */
/* ---------- */
form#search{
/*  text-align: left;
  margin: none;
  padding: none;*/

}

input#query {
width: 80%;
height: 40px;
padding: 3px 5px;
margin-top: 7px;
border: 1px solid #3198DD;
-webkit-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
background: white;
font-size: 19px;
outline: none;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}
input:focus#query {
  outline: none; 
}


/* Search Button */
/* ------------- */
.btn-search {
  background-color:#f38245;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:1.5em;
  font-weight:bold;
  padding: 12px 14px;
  text-decoration:none;
  border: none;
  margin-left: 10px;
  margin-top: 7px;
/*}.classname:hover {
  background-color:#fb9e25;
}.classname:active {
  position:relative;
  top:1px;
}*/
}
.btn-search:hover {
   /*border:1px solid #ffaf46; background-color: #ffaf46;*/
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf46), color-stop(100%, #e78404));
   background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
   background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
   background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
   background-image: -o-linear-gradient(top, #ffaf46, #e78404);
   background-image: linear-gradient(top, #ffaf46, #e78404);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
}
.btn-search:active {
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
    background-image: -ms-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), color-stop(30%, rgba(255,255,255,0)), color-stop(50%, transparent), to(rgba(0,0,0,.1)));
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
    background-image: linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
}


/* Footer */
/* ------ */
.footer {
  width: 100%;
  background-color: #070707;
  height: 80px;
  padding-top:15px;
  margin-top: -80px;
  clear: both;
}
ul.footer-links {
  display: inline-block;
  list-style: none;
}
ul.footer-links > li {
  display: block;
  float: left;
}
ul.footer-links > li > a {
  font-family: Helvetica, Arial;
  color: #FFFFFF;
  font-weight: bold;
  float: none;
  font-size: 14px;
  padding: 9px 10px 11px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


/* Search results page */
/* ------------------- */
.page-container {
  background-image: url("/assets/bg_transparent.png");
  background-repeat: repeat;
  padding-top:40px;
  background:red;
}
.search-status {
  border-bottom: 10px solid #ffde4d;
  margin-bottom:20px;
}
.main-content {
  background-color: #FFF;
  padding: 30px 30px 0 30px;
  opacity:1;
  margin-left: 20px;
  margin-bottom: 20px;
}
.sidebar {
  background-color: #FFF;
  opacity:1;
  height: 100%;
  margin-right: 20px;
}
li.article-listing {
  border-bottom: 1px solid #DDD;
  padding: 20px 0px;
}
li:last-child.article-listing {
  border-bottom: none;
}
.sidebar ul {
  padding: 10px 10px 10px 15px;
}
.sidebar ul li {
  padding: 10px 0;
}














/* Temporary homepage search button */
/*.cupid-green {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  padding: 9px 0 9px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px; 
}
.cupid-green:hover {
  background-color: #76b347;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
  background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
  background-image: linear-gradient(top, #76b347, #5e9e2e);
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer; 
}
.cupid-green:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; 
}*/
