/* Honolulu Answers CSS - V2 */
/* Boostrap Scaffolding Included in asset pipeliene */

/* General Styles */
/* -------------- */
@import url(http://fonts.googleapis.com/css?family=Cookie);
body {
 background:transparent url("/assets/background_image.jpg") no-repeat 0 50%;
}
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('/assets/fonts/League_Gothic-webfont.eot');
    src: url('/assets/fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/League_Gothic-webfont.woff') format('woff'),
         url('/assets/fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('/assets/fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1.home-modal {
  font-size: 70px;
  color: #303030;
  font-family: 'LeagueGothicRegular', 'League Gothic', Helvetica, Arial;
  text-transform: uppercase;
  text-align: center;
  line-height: 100%;
  margin: 0;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 1px 2px 5px rgba(0, 0, 0, 0.05), -1px 2px 5px rgba(0, 0, 0, 0.05);
}

h2 {
  /**/
}
h3.welcome {
  font-family: 'Cookie';
  font-size:36px;
  text-align: center;
  line-height: 100%;
  margin:0;
}
h4 {
  /**/
}
h5 {
  /**/
}
h6 {
  /**/
}


p {
  font-family: Helvetica, Arial;
  font-size: 12px;
  color: #333333;
}
a {
  
}
a.hnl-logo {
  font-size: 32px;
  color: #FFFFFF;
  font-family: 'LeagueGothicRegular', 'League Gothic', Helvetica, Arial;
  font-weight: bold;
  border-bottom: 10px solid #ffde4d;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 100%;
}



/* Top Navbar */
div.navbar-top {
  width: 100%;
  background-color: #070707;
  height: 80px;
}
div.logo {
  display: inline-block;
  padding-top:35px;
}
ul.nav-top {
  display: inline-block;
  list-style: none;
  margin: 10px 0 0 0;
}
.nav-top > li {
  display: block;
  float: left;
}
.nav-top > li > a {
  font-family: Helvetica, Arial;
  color: #FFFFFF;
  font-weight: bold;
  float: none;
  font-size: 14px;
  padding: 9px 10px 11px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}




/* Homepage Modal */
.modal-container {
  background-color: #fbfbfb;
  float: none;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px;
  border:1px solid #FFF;
  -moz-box-shadow:    0px 0px 30px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.3);
  box-shadow:         0px 0px 30px 1px rgba(0, 0, 0, 0.3);
}
div.pop-categories {
  border-top: 10px solid #ffde4d;
}
p.call {
  font-size: 20px;
  
}
div.category {
  padding: 20px 0;
  border-bottom: 1px solid #cdcbcb;
}
div.category.last {
  border: none;
}
.category {
  color: #070707;
  font-family: Helvetica, Arial;
  font-size: 14px;
}
.category .left {
  font-size: 20px;
  width: 100px;
  display: inline-block;
}
/* Homepage Modal -- Search Ribbon*/
div.search-ribbon {

}
.ribbon-wrapper {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
.ribbon-front {
  position: relative;
  padding: 20px 70px;
  margin: 0 -70px 30px -70px;
  border: 1px solid #3198DD;
  background: #33aaf8;
  color: white;
  text-shadow: 0 1px 1px #155B88;
  border-top: 1px solid #13A2FB;
  border-bottom: 1px solid #238FD1;
  border-radius: 4px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#33ACFC), to(#3198DD));
  background: -webkit-linear-gradient(top, #33ACFC 0%, #3198DD 100%);
  background: -moz-linear-gradient(top, #33ACFC 0%, #3198DD 100%);
  background: -ms-linear-gradient(top, #33ACFC 0%, #3198DD 100%);
  background: linear-gradient(top, #33ACFC 0%, #3198DD 100%);
  box-shadow: 2px 0px 5px -3px rgba(0, 0, 0, 0.5), -2px 0px 5px -3px rgba(0, 0, 0, 0.5), 0px 5px 10px -4px rgba(0, 0, 0, 0.3);
}
.ribbon-front:before,
.ribbon-front:after {
  content:" ";
  border-top:20px solid blue;
  position:absolute;
  bottom:-20px;
  width: 10px;
  height: 10px;
  bottom: -4px;
  border: none;
  border-radius: 10px;
}
.ribbon-front:before {
  border-left:20px solid transparent;
  left:0;
  border-radius: 10px;
}
.ribbon-front:after {
  border-right:20px solid transparent;
  right:0;
}

/* Search bar */
input#query {
width: 60%;
height: 32px;
padding: 3px 5px;
border: 1px solid #3198DD;
-webkit-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
background: white;
font-size: 19px;
outline: none;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
input:focus#query {
	outline: none; 
}


/* Footer */
.footer {
  width: 100%;
  background-color: #070707;
  height: 80px;
  margin-top:150px;
}
ul.footer-links {
  display: inline-block;
  list-style: none;
}
ul.footer-links > li {
  display: block;
  float: left;
}
ul.footer-links > li > a {
  font-family: Helvetica, Arial;
  color: #FFFFFF;
  font-weight: bold;
  float: none;
  font-size: 14px;
  padding: 9px 10px 11px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.cupid-green {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  padding: 9px 0 9px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px; 
}
.cupid-green:hover {
  background-color: #76b347;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
  background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
  background-image: linear-gradient(top, #76b347, #5e9e2e);
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer; 
}
.cupid-green:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; 
}