/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/

body{ 
  background: transparent url(/assets/background_pattern.png) repeat left top;
  margin: 0 0 0 0;
}

#topDivPattern {
	background: transparent url(/assets/border.png) repeat-x;
	opacity: 0.75;
	position: absolute;
	width: 100%;
	height: 25px;
	top: .5em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	z-index: 99;
}

#bgTopDiv {
  background: transparent url(/assets/search_page_photo.png) no-repeat left top;
  width: 100%;
  height: 70%;
  position:absolute;
  top:0px;

}
#bgTopDiv.headline {
  height: 87px;
  position:absolute;
  top:0px;
  background-position:0px -120px;
}


#searchContent {
	background:  rgba(255, 198, 10, 0.8);
	position: relative;
	width:50%;
	margin: 70px auto;
	padding: 25px;
    border-radius:3px;
}

.searchForm { 
	position: relative;
	margin: .5em 0 .5em 0;
	display: inline-block;
}

#searchContent.headline {
  background:  rgba(255, 198, 10, 0.4);
  background: #ffc60a;
  position: absolute;
  width: 100%;
  text-align: center;
  padding:0px;
  margin-top:0px;
}
#searchContent.headline form{
  margin:0px; 
  padding-top:40px;
  padding-bottom:10px;
}

#searchText {
	position: relative;
	top: 2.3em;
	width:100%;
	margin: 0 auto;
}

#mainContainer {
	width: 70%;
	height: 100%;
	margin: 120px auto;
	padding: 0;

}

input#search{ 
  width: 400px;
  padding:4px;
  margin-top:10px;
  
}

#searchstatus{ 
  margin:20px;
  font-size:20px;
  display:none;
  font-family:arial;
  line-height:24px;
}
#searchstatus .count{ 
  font-size:14px;
  font-style:italic;
}
#searchstatus strong{
  font-weight:bold;
} 

.articleIcon {
	position: relative;
	vertical-align: middle;
}

div#results ul{ 
  margin: 1.5em 0 0 0;
  padding: 0;
  border-top: dashed 1px #999;
}

div#results ul li{
  padding: 0 0 1em 0;
  border-bottom: dashed 1px #999;
  list-style:none;
} 

#disclaimer {
	width: 100%;
	background-color: #F17921;
	top: 70%;
	bottom: 0;
	position: absolute;
}

#footer {
	width: 100%;
	background-color: #ccc;
	position: absolute;
	top: 70px;
	bottom: 0;
	padding: 0;
	display: block;
}

#browse {
	background:  rgba(255, 198, 10, 0.8);
	position: relative;
	width: 50%;
	margin: 320px auto;
	padding: 25px;
}


/* --------- article -----------*/

div.article{ 
  background: #fff;
  padding:30px;
  min-width:500px;
  max-width:800px;
  margin:120px auto;
  border:solid 1px #ccc;
  font-family: arial;
  font-size:14px;
}
div.article h2{ 
  font-size:32px;
  color:#333;
  font-weight:normal;
}



/* -------------- Font Stuff ---------------*/

p {
	margin: .2em 0 0 0;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}
p.display {
	font-family: Glegoo, sans-serif;
	font-size: 28px;
	color: #5c3e00;
	padding: 10px 3px;
	display: inline;
	vertical-align: middle;
	
}

p.tags {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	width: 100px;
	height: 20px;
	background-color: #fff;
	opacity: 0.8;
	display: inline;
	margin: 5px 5px 5px 0;
	padding: 5px;
}

.exampleText {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #937426;
}

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 28px;
	color: #333;
	margin: 1em 0 0 0;
	padding: 0;
}

h2 {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	color: #ccc;
}

h3 {
	font-family: Helvetica, sans-serif;
	color: #262626;
	font-size: 16px;
	margin: 0;
}

h4 {
	color: #262626;
	font: normal 14px Helvetica, sans-serif;
}

.italic {
	font-style: italic;
	margin: 0;
	padding: 0;
}

.disclaimer {
	padding: 0 20px;
}



/*------------Links-----------*/

a:link {
	color: #01546E;
	font-weight: bold;
}

a:hover {
	color: #895b00;
}

a:visited {
	color: #9a006d;
}

a.results:link {
	font-weight: normal;
}

a.results:hover {
	font-weight: normal;
	color: #895b00;
}

a.results:visited {
	font-weight: normal;
	color: #9a006d;
}

/*------------Visual elements--------------*/



/*
div.article{ 
  width:500px;
  margin:auto;
}
div.date{ 
  color:#999;
  font-weight:0.8em;
}
div.content{ 
  margin:20px 0px;
  font-weight:1.5em;
  background:#fff;
}

div#results{ 
  width:600px;
  background:#eee;
  margin:20px  auto 0px;
  padding: 50px;
  display:none;
}



*/