<%= f.inputs "Content" do %>
  <% main_content_label = (@article.is_a? QuickAnswer) ? "Content for Gray Box" : "Content main extra" %>
  <div class="wmd-panel">
    <div id="wmd-button-bar-content_main" class="wmd-button-bar"></div>
      <%= f.input :content_main, :label => main_content_label, :input_html => {
        :class => 'wmd-input', :id => 'wmd-input-content_main'} %>
    <div id="wmd-preview-content_main" class="wmd-preview article"></div>
  </div>
  <div class="clear"></div>

  <% if @article.is_a? QuickAnswer %>
    <div class="wmd-panel">
      <div id="wmd-button-bar-content_main_extra" class="wmd-button-bar"></div>
      <%= f.input :content_main_extra, :input_html => {
          :class => 'wmd-input', :id => 'wmd-input-content_main_extra'}  %>
      <div id="wmd-preview-content_main_extra" class="wmd-preview article"></div>
    </div>
  <% end %>

  <div class="clear"></div>
  <div class="wmd-panel">
    <div id="wmd-button-bar-content_need_to_know" class="wmd-button-bar"></div>
    <%= f.input :content_need_to_know, :input_html => {
        :class => 'wmd-input', :id => 'wmd-input-content_need_to_know'} %>
    <div id="wmd-preview-content_need_to_know" class="wmd-preview article"></div>
  </div>
<%end%>

