<html>
<head>
	<title>Test page</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Glegloo">
</head>
	<body>
		<div id="topDivPattern"></div>
		<div id="bgTopDiv2">
			<div id="searchContent2">
				<div id="searchText">
				<p class="display">Welcome to Honolulu Answers: <form class="searchForm">
					<input type="text" id="search" />
					<input type="submit" id="search_btn" value="Search" />
				</form>
				</p>
				</div>
			</div>
		</div>
		<div id="mainContainer">
			<p><h3>Search results for "<strong>bank holidays</strong>"</h3></p>
			<p class="italic">23 results found</p></span>
			<div id="results">
			<ul>
				<li><p><h1><a href=#>UK Bank Holidays</a></h1></p>
					<h4>UK bank holidays calendar - see UK bank holidays and public holidays for 2012 and 2013</h4>
				</li>
				<li>	
					<p><h1><a href=#>Holiday entitlement: your rights</a></h1></p>
					<h4>Find out about your legal right to paid holidays, calculating your annual leave entitlement
					</h4>
					<p><a class="results" href="#">Overview</a></p>
					<p><a class="results" href="#">Know your leave entitlement</a></p>
					<p><a class="results" href="#">Holiday pay</a></p>
					<p><a class="results" href="#">When you leave your job</a></p>
					<p><a class="results" href="#">Problems with taking leave</a></p>
					<p><a class="results" href="#">Booking time off</a></p>
				</li>
			</ul>
			</div>
		
		</div>
		
				
		
	</body>
</html>