<html>
<head>
	<title>Test page</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Glegloo">
</head>
	<body>
		<div id="bgTopDiv"></div>
		<div id="topDivPattern"</div>
		<div id="search_content">
			<p>Welcome to Honolulu Answers, the best way to get government services and information.
			<form id="search_form">
				<input type="text" id="search" />
				<input type="submit" id="search_btn" value="Search" />
			</form>
			<span class="example_text">Try bank holidays, clock change, student finance, car tax
			</p>
		</div>
	</body>
</html>