<!DOCTYPE html>
<html>
<head>
  <title>Honolulu Answers</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Glegoo">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>



<div id="footer">
  <h4 class="disclaimer">This is a test website, so may be inaccurate or misleading. The official website remains <a href="http://honolulu.gov">Honolulu.gov</a> and the website of the relevant government department or organization</h4>
  <h1 class="disclaimer">Honolulu Answers BETA!</h1>
</div>
</body>
</html>
